[2013-10-28 16:38] Bjwebb opened #1 "Remove namedropping of publishers"

[2013-12-06 14:04] Bjwebb commented on #1
https://github.com/IATI/IATI-Extra-Documentation/commit/0d3c7cb84b6a1dd72c2fe1a6b861fd3ff9125846 fixed one of these.

[2013-12-06 17:23] stevieflow opened #3 "Job Title example"
As in http://iatistandard.org/activities-standard/contact-info/job-title/

[2013-12-06 17:47] stevieflow commented on #3
http://wiki.iatistandard.org/standard/documentation/1.03/job-title
and also in github

[2013-12-06 17:47] #3 closed, assigned to nobody

[2013-12-17 14:32] stevieflow opened #5 "conditions/@attached"
This is a boolean code (what are the others) - but our documentation is not clear as to whether we expect 1/0 true/false etc - and whether this should also be a "codelist".

Needs review/refinement in documentation

[2013-12-17 14:38] Bjwebb commented on #5
I'll generate a report of what values people are using for this and other booleans.

[2013-12-19 17:53] stevieflow opened #6 "recipient-region @vocabulary - examples"
This https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/recipient-region.rst is missing a code example for vocabulary

[2013-12-23 10:29] stevieflow commented on #6
Done in wiki and also here: https://github.com/IATI/IATI-Extra-Documentation/pull/7

[2013-12-23 10:29] #6 closed, assigned to nobody

[2014-01-03 15:34] Bjwebb commented on #5
Here are the different values currently being used for booleans - http://bjwebb.github.io/IATI-Dashboard/booleans.html
`1`,`0`,`true` and `false` are valid values for `xs:boolean` - `True` and `False` are not, they will cause the relevant files to fail schema validation.

[2014-01-07 10:42] stevieflow commented on #5
OK thanks - I can pick this up with publishers now.

[2014-01-07 10:42] #5 closed, assigned to Bjwebb

[2014-01-08 17:58] stevieflow opened #8 "activity-website"
http://dev.iatistandard.org/iati-activities/iati-activity/activity-website.html

Documentation should include:
- [x] Web page vs site:  clarity on whether it can be a general link, or must be a specific URL
- [x] Multiple links be declared separately ?
- [x] Inclusion of http / https
- [x] Definition of - or link to a definition of - xsd:anyURI ?

Examples
- Not Global Fund specific
- Example of m

[2014-01-08 18:03] stevieflow opened #9 "Result > indicator > period - examples"
http://dev.iatistandard.org/iati-activities/iati-activity/result/indicator/period.html

Examples are needed here - of both specific and general dates.  These are actually within the sub elements - so some work is needed to provide a comprehensive example across all pages around this

[2014-01-08 18:05] stevieflow opened #10 "Result > indicator > period > target - examples"
http://dev.iatistandard.org/iati-activities/iati-activity/result/indicator/period/target/comment.html

This lacks example code for comment , which should be properly documented on both target and comment pages

[2014-01-08 18:06] stevieflow opened #11 "result - examples"
This needs to be revised, so that a full result example is provided at

http://dev.iatistandard.org/iati-activities/iati-activity/result.html
- and then this is replicated and highlighted in child pages/elements

[2014-01-08 18:12] stevieflow opened #12 "Country Budget Items - @vocabulary"
http://dev.iatistandard.org/iati-activities/iati-activity/country-budget-items.html

@vocabulary is described, but not reference is made to the actual vocab list to be used:

http://dev.iatistandard.org/codelists/BudgetIdentifierVocabulary.html ?

Example code needs updating in line with this

[2014-01-08 18:17] stevieflow opened #13 "recipient-region @vocabulary"
http://dev.iatistandard.org/iati-activities/iati-activity/recipient-region.html

@vocabulary is not mention in schema description

@vocabulary is then described, but not reference to the actual list:

http://dev.iatistandard.org/codelists/RegionVocabulary.html

[2014-01-08 18:18] stevieflow opened #14 "Example code for nested elements"
http://dev.iatistandard.org/iati-activities/iati-activity/transaction.html

A full transaction example code is needed, across all pages

[2014-01-14 14:13] bill-anderson opened #16 "reporting-org rules"
Modify guidance of reporting-org within a single file and its relationship to registry publisher record

[2014-01-14 14:51] wendyrogers opened #17 "Administrative Codelists Levels 1 & 2 Still State They Will Be Reviewed For V1.03"
The two Administrative Codelists levels 1 and 2 still state that they are being reviewed for version 1.03

http://iatistandard.org/codelists/administrative_area_1/
http://iatistandard.org/codelists/administrative_area_2/

The codelists are currently not present in dev.iatistandard.org?

NB The actual content/changes for these lists is being managed at http://support.iatistandard.org/entries/308556

[2014-01-14 15:02] stevieflow commented on #8
Have committed a change on the schema description

[2014-01-14 15:02] #8 closed, assigned to nobody

[2014-01-14 15:10] jonihillman opened #18 "Transactions (from Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/transaction.rst

Topic: Transactions
Overview
Transactions are the building blocks of IATI. They detail the flow of money between organisations.
Description
There are four different types of transaction:
Commitment - the total agreed budget for the activity.
Disbursement - the amount transferred to anothe

[2014-01-14 15:11] jonihillman opened #19 "An IATI File (from Google Doc)"
Topic: An IATI File
Overview: A file containing one organisation’s IATI xml data
Description: This is simply the name for an electronic file containing information about activities in IATI format
What is mandatory?: n/a
Things to consider: This is not a field, it is the collection of all the organisation’s activities in one place.
More info: Most organisations will publish one file, containing var

[2014-01-14 15:12] jonihillman opened #20 "An IATI Activity (from Google Doc)"
Topic: An IATI Activity
Overview: An activity within the organisation being reported to IATI
Description: What an activity is, as decided by the organisation.  It could be a program, a department, a project etc within the organisation.
What is mandatory?: n/a
Things to consider: What is the clearest, and easiest, way to fit what happens in the organisation into ‘activities’
More info:
Things peopl

[2014-01-14 15:13] jonihillman opened #21 "Organisation Identifier (from Google Doc)"
Topic: Organisation identifier
Overview: A unique identifier relating to organisation.  This allows users of data to find any individual organisation from all those publishing.
Description: This is a unique identifier of the organisation publishing the information.  This is usually the existing registration number of the organisation with a national governing body.
What is mandatory?  An Organisat

[2014-01-14 15:14] jonihillman opened #22 "IATI Identifier (Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/iati-identifier.rst

Topic: Activity Identifier
Overview: A unique identifier relating to that activity.  This allows users of data to find any individual activity from all the data published to IATI.
Description: This consists of the IATI Organisation Identifier plus an internal reference unique to the a

[2014-01-14 15:15] jonihillman opened #23 "Participating Organisation (from Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/participating-org.rst

Topic: Participating organisation
Overview: Which organisation is doing what
Description: Used to describe roles organisations play in the activity, whether funding, extending or implementing
What is mandatory?:  Unique IATI identifier for organisations
Things to consider: What role

[2014-01-14 15:16] jonihillman opened #24 "Reporting Organisation (from Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/reporting-org.rst

Topic: Reporting-Org
Overview:  Organisation reporting the activity
Description: The identity of the organisation doing the reporting
What is mandatory?: Unique IATI organisation Identifier
Things to consider: Is the organisation a primary  or secondary reporter
More info
Things people

[2014-01-14 15:16] jonihillman opened #25 "Country and Region (from Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/recipient-country.rst
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/recipient-region.rst

Topic:Country and region
Overview: Where the funds are going
Description: This is a mapping of where the funds are intended to be used.
This field is mandatory, however

[2014-01-14 15:17] stevieflow opened #26 "other-identifier - example without owner ref/name"
The first example at

http://iatistandard.org/activities-standard/other-identifier/

is one without an owner ref or name.  The guidance states this is needed

[2014-01-14 15:18] jonihillman opened #27 "Activity Dates (from Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/activity-date.rst

Topic: Activity Dates
Overview
Activity dates provide clear parameters for an activity, signally when an activity starts (or is planned to start) and when it ends (or is planned to end).
Description
There are four different types of activity date:
Start actual - the forecast start date

[2014-01-14 15:19] jonihillman opened #28 "Sector (from Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/sector.rst

Topic: Sector
Overview: Providing information on which sector(s) your activity covers helps people compare and aggregate data on different organisations working in the same sector.
Description: There are three different kinds of sector vocabulary in common use:
The OECD Development Assistance

[2014-01-14 15:20] jonihillman opened #29 "Location (from Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/location.rst

Topic: Location
Overview: Geographical location relating to the activity
Description: Where the activity takes place.  This can be split across multiple locations using percentages, and can include coordinates to show precise location.
What is mandatory?: A country code in 2 digit format
Thi

[2014-01-14 15:20] caprenter commented on #1
Further example here:
http://iatistandard.org/activities-standard/activity-website/

[2014-01-14 15:21] jonihillman opened #30 "Budget (from Google Doc)"
https://github.com/IATI/IATI-Extra-Documentation/blob/master/en/iati-activities/iati-activity/budget.rst

Topic: Budget
Overview: Information on any forward-looking budget relating to the activity
Description: Budget information that can be made available online, and linked to within the IATI data.  Forward-looking information such as budgets are an essential part of making information useful in p

[2014-01-14 15:21] stevieflow commented on #26
Fixed: https://github.com/IATI/IATI-Extra-Documentation/commit/945ca569496b910d0b44e303a40e781f7571d64b

[2014-01-14 15:21] #26 closed, assigned to nobody

[2014-01-14 16:57] stevieflow opened #33 "Clarify best practice on transactions / budgets"
How much aggregation would we like to see on transactions / budgets:

Transactions:

Current year: Monthly
Previous three years: Quarterly
Previous other years: Annual

Budgets
Previous years: annual
Forward looking: quarterly

[2014-01-14 17:01] stevieflow opened #34 "Clarification of budget vs transaction commitments"
From Bill

That is exactly the correct usage of Commitment

For traditional donors commitments are made at the outset of an activity: "We commit to spend $10m spread over x years." If the total commitment changes during the lifetime of the activity a delta transaction is record (ie. if reduced you would report a negative transaction on the date the decision to reduced is made.) So the sum of commi

[2014-01-14 17:03] stevieflow opened #35 "Spaces in file names"
Documentation is needed for this

[2014-01-14 17:15] Bjwebb opened #36 "Should we use smart quotes?"
https://github.com/IATI/IATI-Extra-Documentation/blob/6a21b5c3c632580cba23341daf40b9e213902b3d/en/iati-activities/iati-activity/result.rst

[2014-01-14 17:34] caprenter commented on #11
Closed via:
https://github.com/IATI/IATI-Extra-Documentation/commit/95b7c483695ca82b3cec23ad4649c15a11fe68e9

[2014-01-14 17:34] #11 closed, assigned to bill-anderson

[2014-01-14 17:38] caprenter commented on #36
No.
Fixed in 95b7c483695ca82b3cec23ad4649c15a11fe68e9

[2014-01-14 17:38] #36 closed, assigned to nobody

[2014-01-14 19:49] Bjwebb opened #37 "Should we replace quotes with double backticks?"
These are special to reStructuredText, so would look like `this` instead of like "this"

e.g. on https://github.com/IATI/IATI-Extra-Documentation/blob/6a21b5c3c632580cba23341daf40b9e213902b3d/en/iati-activities/iati-activity/result.rst

Follow up from https://github.com/IATI/IATI-Extra-Documentation/issues/36

[2014-01-15 10:08] Bjwebb opened #38 "Add general dates guidance"
This should clarify whether `YYYY-MM-DD` is the only acceptable format (a tighter restriction than `xs:date`), and whether data consumers should deal with any other formats such as `YYYY-MM-DDZ`.

If the restriction is tighter than that of `xs:date` then there should maybe be a rule in a ruleset to check compliance.

[2014-01-15 10:18] Bjwebb opened #39 "What characters are permitted/forbidden in identifiers?"
I've heard it said that identifiers should not contain whitespace - is this said somewhere in the standard documentation?

[2014-01-15 10:24] Bjwebb opened #40 "What should the structure of an element page be?"
Currently this is (each section may not appear if it is empty):
- Full element path
- From the schema
- Attributes
- Subelements
- Notes
- Example usage
- Changelog

[2014-01-15 13:03] Bjwebb opened #41 "Advice for publishers about HTTPS"
Some publishers place their files on servers behind secure certificates. This has caused us, and others, problems in the past for our automated scripts to fetch the data - either due to data consumers using out of dates lists of certificate authorities (CAs), or actual certificate misconfiguration by the publisher.

Currently [IATI-Registry-Refresher](https://github.com/IATI/IATI-Registry-Refreshe

[2014-01-15 15:44] Bjwebb opened #42 "Wiki pages with multiple uses were imported only once"
Examples:
title, description, period-start, period-end, value

I have not fixed this automatically, because I think the best solution is to have separate pages for each element with a different name, so that the information (particularly examples) can be relevant to that specific instance.

[2014-01-23 20:51] Bjwebb commented on #13
@vocabulary on http://dev.iatistandard.org/iati-activities/iati-activity/recipient-region.html now says "This value should be on the RegionVocabulary codelist."

Does this fix the bug?

Note that the schema still does not mention it, but we are planning to remove those references from the schema in favour of a separate codelist mapping file, which is used by the single source of truth.

[2014-01-23 20:56] Bjwebb opened #43 "Replace getting started with new section(s)"
Wendy has started work on this at https://github.com/IATI/IATI-Extra-Documentation/tree/wendy-getting-started

[2014-01-24 14:15] stevieflow commented on #13
OK great, thanks

[2014-01-24 14:15] #13 closed, assigned to stevieflow

[2014-02-11 16:03] Bjwebb opened #44 "Organisation documentation needs adding"
The text from http://iatistandard.org/organisation-standard/ (and subpages) needs adding to this repository.

[2014-02-13 11:50] Bjwebb opened #45 "Explain more clearly how IATI Identifiers are globally unique."
There should only be one `iati-activity` element in the whole IATI dataset with a given `iati-identifier`

[2014-02-13 12:47] Bjwebb opened #46 "Be more explicit that publishers shouldn't remove last year's data"

[2014-03-03 14:05] stevieflow opened #50 "Condition page missing"

[2014-03-03 14:05] stevieflow commented on #50
https://github.com/IATI/IATI-Extra-Documentation/pull/49

[2014-03-03 14:05] #50 closed, assigned to nobody

[2014-03-03 14:18] stevieflow commented on #14
This should be replicated for all other nested elements:

esp:
- [x] budget
- [x] conditions
- [x] document-link
- [x] country budget items
- [x] results

[2014-03-03 16:56] stevieflow opened #51 "language example - conditions/condition"
Need to add example for multi-lang

[2014-03-11 14:29] stevieflow opened #52 "Issues to document / log"
Working list with @iatisupport about issues to specific provide guidance on / flag up
## PUBLISHING RELATED
- [ ] what's the difference between `reporting-org` and Publisher? https://github.com/IATI/IATI-Extra-Documentation/issues/16
- [x] updating activities over time https://github.com/IATI/IATI-Extra-Documentation/issues/46
- [ ] segmenting files - good practice
- [ ] URL construction (data.dom

[2014-03-11 14:52] stevieflow commented on #40
Note to talk to @jonihillman and @iatisupport about this

[2014-03-12 14:34] wendyrogers commented on #52
What do publishers do with their Implementation plans (where is it stored etc.)

[2014-03-18 15:47] stevieflow opened #53 "overview pages"
The overview pages for org and activity standard may not make it through to SSOT -

http://iatistandard.org/organisation-standard/org-overview/
http://iatistandard.org/activities-standard/overview/

These are manually curated, meaning less likely to be kept up to date

[2014-03-18 17:22] stevieflow commented on #37
Yes

[2014-03-20 12:01] stevieflow commented on #40
Proposed:
- Full element path
- From the schema (label: Description)
- Attributes
- Notes
- Example usage
- Who is using this element - link to dashboard?

Marked as in the "footer" of the content pane:
- For developers (link to source - although could be a button)
- Changelog
- Subelements (putting this at the footer of the page as the list can be long)

[2014-03-20 12:17] stevieflow commented on #51
https://github.com/IATI/IATI-Extra-Documentation/blob/coding-examples/en/activities-standard/iati-activities/iati-activity/conditions/condition.rst

[2014-03-20 12:17] #51 closed, assigned to stevieflow

[2014-03-21 14:43] Bjwebb opened #54 "Clarify whether an activity can be published in more than one file"

[2014-03-21 15:54] Bjwebb opened #55 "IATI contains non-ODA"
Be more explicit about this in our guidance.

IATI has the flow-type, which publishers should use to declare whether their aid is AID or some other type of flow. http://iatistandard.org/codelists/flow_type/

However not all transactions have a flow type. When I have generated stats, I have assumed that those without an explicit flow type are flow type 10 (ODA).

[2014-03-21 15:59] Bjwebb opened #56 "Add examples of good real data"
This was suggested at the TAG.

Could either be publishers, or individual files.

[2014-03-21 17:48] Bjwebb opened #57 "Codelist pages"
These pages need adding to the SSOT:
- http://iatistandard.org/codelists/
- http://iatistandard.org/codelists/code-list-api/
- http://iatistandard.org/codelists/all-codelists/

[2014-03-24 15:16] Bjwebb opened #58 "Update all references to dev.iatistandard.org to iatistandard.org"
Currently this is:
- http://dev.iatistandard.org/codelists/codelist-api/
- http://dev.iatistandard.org/developer/community-about/
- http://dev.iatistandard.org/developer/ssot/
- http://dev.iatistandard.org/developer/ssot/proposal/
- https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/README.rst
- https://github.com/IATI/IATI-Developer-Documentation/blob/master/README.rst

The follow

[2014-03-24 15:20] Bjwebb opened #59 "Write SSOT Codelist API documentation"
Updated documentation to replace http://iatistandard.org/codelists/code-list-api/

Split out from #57

[2014-03-24 15:25] Bjwebb commented on #57
Copied over the first link. The second link needs updating heavily, due to changes to the codelist API - created issue https://github.com/IATI/IATI-Extra-Documentation/issues/59 for this. I've replaced the third page with a standard Sphinx contents list of the main codelists page - since the descriptions are now included in the individual codelist pages.

[2014-03-24 15:27] Bjwebb opened #60 "Code List vs Codelist is inconsistent"

[2014-03-24 15:29] #57 closed, assigned to Bjwebb

[2014-03-24 15:38] #37 closed, assigned to Bjwebb

[2014-03-25 10:50] caprenter opened #61 "Schema links need to point to 1.04 in dev.iatistandard"
Schema link page needs to link to proper place
http://dev.iatistandard.org/schema/

[2014-03-25 11:55] stevieflow commented on #60
Which one to use?

[2014-03-25 12:00] Bjwebb commented on #60
I prefer codelist, but I don't really mind.

[2014-03-26 20:37] Bjwebb commented on #41
To help quantify the potential problem, it's been suggested that the dashboard should have a list of resources served of HTTPS - https://github.com/IATI/IATI-Dashboard/issues/34

[2014-03-26 22:47] Bjwebb commented on #41
For future reference, the publisher that is currently causing problems is BMGF, more information on data.tickets - http://data.tickets.iatistandard.org/ticket/191

[2014-03-28 11:04] Bjwebb opened #62 "Link to overview table from activity standard page"
http://dev.iatistandard.org/activities-standard/ should link to http://iatistandard.org/activity-schema-table/

(As http://iatistandard.org/activities-standard/overview/ does currently)

[2014-03-28 15:39] #61 closed, assigned to Bjwebb

[2014-03-28 15:48] #62 closed, assigned to Bjwebb

[2014-03-31 14:13] Bjwebb opened #63 "Add guidance of capitilisation"
E.g. titles that are in all caps can be problematic for data consumers.

[2014-03-31 20:31] stevieflow commented on #60
@caprenter any preference?

[2014-04-01 09:48] Bjwebb opened #64 "Add community-support page"
E.g. http://iatistandard.org/community-support/

Or link to some other version of this information elsewhere.

[2014-04-07 14:50] Bjwebb opened #65 "Administrative Area Codelists missing"
I came across this issue when I was creating redirects for all codelists https://github.com/IATI/IATI-Standard-SSOT/issues/9

http://iatistandard.org/codelists/administrative_area_1/
http://iatistandard.org/codelists/administrative_area_2/

[2014-04-07 15:19] stevieflow commented on #65
I think they have always been missing/empty....

[2014-04-07 15:21] Bjwebb commented on #65
That was my impression. Currently though, there are pages to explain this. Currently these explanatory pages don't exist on the dev site.

[2014-04-08 16:58] stevieflow commented on #18
Commit parts of this text to Overview section

Some parts (whole numbers) are no out of date

[2014-04-08 16:58] #18 closed, assigned to wendyrogers

[2014-04-08 17:01] stevieflow commented on #21
Added to Overview text

[2014-04-08 17:01] #21 closed, assigned to wendyrogers

[2014-04-08 17:04] stevieflow commented on #22
Used in overview section

[2014-04-08 17:04] #22 closed, assigned to wendyrogers

[2014-04-08 17:05] stevieflow commented on #30
Used in overview section

[2014-04-08 17:05] #30 closed, assigned to wendyrogers

[2014-04-08 17:06] stevieflow commented on #28
Used in overview section

[2014-04-08 17:06] #28 closed, assigned to wendyrogers

[2014-04-08 17:06] stevieflow commented on #24
Used in overview section

[2014-04-08 17:06] #24 closed, assigned to wendyrogers

[2014-04-08 17:07] stevieflow commented on #23
Used in overview section

[2014-04-08 17:07] #23 closed, assigned to wendyrogers

[2014-04-08 17:08] stevieflow commented on #25
Used in overview section

[2014-04-08 17:08] #25 closed, assigned to wendyrogers

[2014-04-08 17:09] stevieflow commented on #27
Used in overview section

[2014-04-08 17:09] #27 closed, assigned to wendyrogers

[2014-04-08 17:09] stevieflow commented on #53
Update: An overview section is being created / tested around this

[2014-04-08 17:10] stevieflow commented on #29
Added to overview section

[2014-04-08 17:10] #29 closed, assigned to wendyrogers

[2014-04-08 17:12] stevieflow commented on #56
As in the "code examples"

Or - via links to the dashboard?

Or somewhere in between?

[2014-04-08 17:12] stevieflow commented on #60
Would / could you find and replace Code List etc for codelist?

[2014-04-08 17:14] stevieflow commented on #65
Duplicate of: https://github.com/IATI/IATI-Extra-Documentation/issues/17 ?

[2014-04-08 17:14] #65 closed, assigned to nobody

[2014-04-08 17:48] Bjwebb commented on #60
Okay, will do.

[2014-04-09 09:06] Bjwebb commented on #56
I think the idea was links to XML files, or at least full quoted activities.

[2014-04-09 14:19] stevieflow commented on #44
- [x] iati-organisations
- [x] iati-organisation
- [x] name
- [x] reporting-org
- [x] total-budget
- [x] recipient-org-budget
- [x] recipient-country-budget
- [x] document-link

[2014-04-09 14:20] stevieflow opened #66 "Org standard - overview pages"
As per activity standard, some brief overview pages to be added

These can be
- [x] organisation file
- [x] organisations
- [x] budgets
- [x] documents
- [x] overview table

[2014-04-09 14:21] stevieflow commented on #66
Also see: https://github.com/IATI/IATI-Extra-Documentation/issues/44

[2014-04-09 14:32] Bjwebb opened #67 "Implement "5. A consistent approach to organisation identifiers""
http://support.iatistandard.org/entries/41042267-Modify-DAC-derived-organisation-identifiers
- [x] 1) The OECD DAC is recognised as a registration agency with code XM-DAC.
- [ ] 2) DAC donor codes should be adopted
- [ ] 3) DAC agency codes should be modified to be consistent with donor codes
- [ ] 4) DAC delivery channel codes should be prefixed with the DAC agency code.
- [ ] Additionally: IATI

[2014-04-09 14:59] stevieflow opened #68 "Changelog includes direct links to the wiki"

[2014-04-09 15:00] stevieflow opened #69 "French examples need checking/adding"
Specifically:

Org Standard
- [x] name

Activity Standard:
- [x] title
- [x] description
- [x] result title/description
- [x] result/indicator title/description
- [x] period/baseline comment
- [x] country-budget-items/description
- [x] transaction/description
- [x] conditions/condition
- [x] location

[2014-04-09 16:44] stevieflow commented on #44
All done in: https://github.com/IATI/IATI-Extra-Documentation/tree/organisation-standard

Relevant followup Issues created where appropriate

[2014-04-09 16:44] #44 closed, assigned to stevieflow

[2014-04-09 16:48] Bjwebb commented on #44
If that branch's ready to be merged, could you create a pull request for it?

[2014-04-09 16:49] stevieflow commented on #44
https://github.com/IATI/IATI-Extra-Documentation/pull/70

[2014-04-10 10:12] Bjwebb opened #73 "Usage & compliance missing from new organisation standard documentation"
E.g.
http://iatistandard.org/organisation-standard/documents/
http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation/document-link/

This should maybe be captured in the Extra-Documentation text, or possibly in a Ruleset.

[2014-04-10 13:37] caprenter commented on #73
Well spotted - this is also available in previous web versions of the standard.

Seems to me the tasks are to audit the information (is it still correct?) and then yes, rulesets and or extra documentation seems sensible.

[2014-04-10 13:54] stevieflow commented on #73
FYI

I have started to put this into overview pages.

Some of it is also inherent in the schema

But agree - needs to be audited and structured

[2014-04-10 14:08] Bjwebb commented on #73
Some of it is inherent in the schema, but not anything about elements being mandatory. That's what Rulesets are for.

[2014-04-10 14:26] Bjwebb opened #74 "Add Reference section to navigation to hold xml elements"

[2014-04-10 14:28] stevieflow commented on #74
Include Organisation Standard Overview Table in this

Rename Organisation Standard Overview Table navigation to Overview Table

[2014-04-10 14:29] Bjwebb commented on #74
Include the Overview Table in the Reference section, and not the Overview section?

[2014-04-10 14:37] stevieflow commented on #74
Good point

As the first item in the Reference section perhaps?

Only issue is that it is labelled Overview and _not_ in the Overview section!

[2014-04-10 14:39] Bjwebb commented on #74
We could call it a Summary Table, instead of an Overview Table...

[2014-04-10 14:40] stevieflow commented on #74
Nice.  I can see what you've done there

[2014-04-10 14:48] Bjwebb commented on #67
1) has already been done
https://github.com/IATI/IATI-Codelists-NonEmbedded/blob/0730c5c808b8b9ec29093796e0f2c5a403db727f/xml/OrganisationRegistrationAgency.xml#L317
http://dev.iatistandard.org/201/codelists/OrganisationRegistrationAgency/

2) 3) and 4) require no changes to any machine readable part of the standard, which is why this issue is reported against the human readable Documentation.

[2014-04-11 09:09] Bjwebb opened #78 "Reduce indentation in code examples"
(to make them fit more nicely on the page)

e.g. http://dev.iatistandard.org/organisation-standard/overview/example-xml/

[2014-04-11 10:05] #74 closed, assigned to Bjwebb

[2014-04-11 10:25] Bjwebb commented on #54
This is clarified in this 2.01 proposal:
http://support.iatistandard.org/entries/41097918-Modify-iati-identifier-validation-and-guidance

[2014-04-11 10:27] Bjwebb commented on #54
This issue is also related https://github.com/IATI/IATI-Extra-Documentation/issues/45

[2014-04-11 12:53] #66 closed, assigned to nobody

[2014-04-11 15:41] wendyrogers commented on #41
I have included reference to this advice in the 'Publish Files' section of the new 'How To Publish' guidance

[2014-04-11 17:06] #60 closed, assigned to Bjwebb

[2014-04-11 17:18] Bjwebb commented on #45
Closing as a duplicate of https://github.com/IATI/IATI-Extra-Documentation/issues/54

[2014-04-11 17:18] #45 closed, assigned to nobody

[2014-04-14 10:39] Bjwebb commented on #68
This is actually a schemas issues https://github.com/IATI/IATI-Schemas/issues/81

[2014-04-14 10:39] #68 closed, assigned to Bjwebb

[2014-04-14 11:17] stevieflow opened #79 "Activities or Activity Standard?"
In a similar vein to other observations, just want to clarify if using plural or singular is the default.

Some publishers only publish one activity...

[2014-04-14 11:18] Bjwebb commented on #79
And some publishers publish more than one organisation, but with call it the Organisation Standard.

[2014-04-14 11:21] stevieflow commented on #79
If we use Activity Standard then

http://dev.iatistandard.org/activities-standard/ will need updating (page title and file name)

[2014-04-14 16:34] Bjwebb commented on #41
https://github.com/IATI/IATI-Guidance/blob/015e531794e31826166df698dd4904264663145c/en/publishing-to-iati/how-to-publish/6-publish-files.rst

I think this line is a bit misleading. Using HTTPS is not a bad thing, it's just that it does seem to have a higher probability of something going wrong.

I plan to add a section about HTTPS to the FAQ, and then modify the above line to be more clear, and li

[2014-04-15 12:12] Bjwebb opened #80 "Before and after tables in changelog for renaming of codes"
https://github.com/IATI/IATI-Codelists/issues/25

[2014-04-15 13:23] wendyrogers commented on #41
Have changed the statement to a more general 'the URLs are not behind any security measures or any other means that would hinder open access' for the moment and happy with proposal. Thx

[2014-04-15 16:22] avanderpluijm commented on #41
Are there any downsides for wget --no-check-certificate besides unchecked certificates? If you are not interested in SSL in the first place, isn't disabling the check sufficient?

[2014-04-15 17:32] stevieflow commented on #56
I have the sample XML with "dummy" data for the time being.  It can be difficult to link to actual XML, as this may a) change b) not always be appropriate

Also - there was another issue to "removing namedropping" from examples

But, this is a good suggestion for Future - and therefore pegging to a post-1.04 milestone for now

[2014-04-16 13:25] Bjwebb opened #81 "Be explicit that document-link/@url should be the actual url of the document"
A web address where the document can be downloaded can be declared through the url attribute.

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/document-link/
http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation/document-link/

I feel that this is particularly ambiguous:

[2014-04-16 13:36] Bjwebb commented on #40
I've put subelements at the bottom. At the moment all the Extra-Documentation is one contiguous block, and it would require a bit of work to split this up. Therefore the page structure is currently the following:
- Full element path
- From the schema
- Attributes
- Notes
- Example usage
- Changelog
- For developers
- Subelements

Where everything from "Notes" to "Changelog" is pulled directly from

[2014-04-16 13:40] Bjwebb commented on #56
Yes, that makes sense. I'm aware of the conflict with removing namedropping (https://github.com/IATI/IATI-Extra-Documentation/issues/1), but I thought it was useful to make a note of this suggestion anyway. Perhaps the standard documentation is not the place to do this, but instead some sort of "Featured Data" section on the registry/data page.

Agree with assigning this to Future for now.

[2014-04-16 13:44] stevieflow commented on #40
Yes, great

"Developer tools" is fine

"footer" - just meant the bottom

[2014-04-16 13:45] Bjwebb commented on #1
Closing this issue, as I think this has now been done.

[2014-04-16 13:45] #1 closed, assigned to nobody

[2014-04-16 13:51] Bjwebb commented on #35
Do you mean spaces in the url of the IATI XML file? Spaces should be acceptable (if possibly unwise), provided they're properly encoded.

Adding spaces to urls/file names is one of the things that is permitted, but may be problematic for people trying to use the data, and making naive assumptions. Another similar issue is using non-ascii characters in file names and urls.

[2014-04-16 13:58] Bjwebb commented on #79
There are redirects from both http://iatistandard.org/activity-docs/ and http://iatistandard.org/activity-standard/ to http://iatistandard.org/activities-standard/ - does anyone know if the Activiti(y|ies) standard pages used to be at those urls, and why if so why it was changed to "activities"?

[2014-04-16 14:15] Bjwebb opened #82 "Rewrite text from codelists paper for website"
https://docs.google.com/document/d/1oeH-8BFB__2IYF4MLnUwx2LcXZCVd5e-iYsXtQ4ViTk/edit#heading=h.oxgl16fpzq83

[2014-04-16 16:44] stevieflow commented on #82
Where would this sit?

[2014-04-16 16:46] Bjwebb commented on #82
Good question.

I think it belongs in the codelists section. Either in the front page, or in another page pinned to the top of the navigation (in the same way that "Codelist API") currently is. http://dev.iatistandard.org/codelists/

[2014-04-16 16:53] stevieflow commented on #82
Or - a section "managing the standard", which could be within Updates, or associated with it (or just a section of it!)

There could be similar "policy" type documents that relate to technical decisions

[2014-04-16 16:56] Bjwebb commented on #82
Yes, that's also a possibility. I said codelists section because I think it is important that information such as Embedded vs. Non-Embedded is mentioned there. However, it could be a short mention that links to somewhere else, such as "managing the standard"

[2014-04-16 17:08] stevieflow commented on #82
Yes

We could edit the text here to cover that possibility: http://dev.iatistandard.org/codelists/ - maybe also have an "overview" page within codelists section?

[2014-04-17 08:39] wendyrogers commented on #43
I have reviewed the copy for the following sections to make sure the content is covered in the new Guidance material 'How To Publish' or other documentation.
- Getting Started
- What Is IATI
- Policy Considerations
- Managing Implementations
- Data Considerations
- Technical issues
- Preparing Data
- Licensing
- Publishing Data

More information is available in the IATIstandard.org tab of https://

[2014-04-17 11:27] Bjwebb opened #83 "Linked documents format description"
@stevieflow

On http://dev.iatistandard.org/activities-standard/overview/linked-documents/ you have written:

I don't think this is correct now that all IANA media types are on the codelist. The code must be on the codelist

[2014-04-17 13:21] wendyrogers commented on #46
I have added this as a specfic statement to the Publishing Regularly Section of the 'How To Publish' guidance

[2014-04-17 13:22] #46 closed, assigned to wendyrogers

[2014-04-17 13:30] wendyrogers commented on #55
I have added a section to the 'Establish Publishing Policies' of the 'How To Publish' guidance that states that aid other than ODA can and should be reported on.

[2014-04-17 15:19] stevieflow commented on #35
That's the guidance I was talking about!

[2014-04-17 15:21] stevieflow commented on #43
Thanks @iatisupport

Ill take a look at these in the next pass of the overview sections

[2014-04-17 15:27] stevieflow commented on #83
ok: https://github.com/IATI/IATI-Extra-Documentation/commit/01531b334504d34ad688e5b8c8530aaae24a6b0b

[2014-04-17 15:27] #83 closed, assigned to stevieflow

[2014-04-17 15:33] stevieflow commented on #79
Looks like it has always been activities-standard:

http://iatistandard.org/101/activities-standard/

But - think we should now be consistent and use activity-standard for 1.04 and onwards

@bill-anderson - is this acceptable?

[2014-04-17 17:37] stevieflow commented on #79
Also - noticed that the file name for the xsd is using plural:

http://iatistandard.org/schema/

[2014-04-22 10:37] Bjwebb commented on #79
Yes, for both activities and organisations. Whereas http://dev.iatistandard.org/organisation-standard/ describes it as a "organisational standard"!

[2014-04-22 11:02] bill-anderson commented on #79
Sorry for not intervening earlier. Are we agreed on Activities and Organisation for descriptions, leaving xml as is.

[2014-04-22 11:06] #40 closed, assigned to Bjwebb

[2014-04-22 11:07] bill-anderson commented on #39
I don't think they should but I'm pretty sure it is not documented. Is this a 2.01 issue?

iati-identifier and reporting-org/@ref and participating-org/@ref etc must not contain:

space, null, /, \, :

Is this the full list?

[2014-04-22 11:09] stevieflow commented on #79
I propose Activity standard, as it is same unit as Organisation.  It just so happens that you can publish multiple, but you can (and many do) report one Acivity/Organisation

[2014-04-22 11:11] bill-anderson commented on #79
I'm happy with that if it is not too disruptive with changing urls

[2014-04-22 11:18] bill-anderson commented on #33
I think documenting best practice like this is over complicated and confusing. Propose we keep this simple.

Best practice (and minimum ask) on aggregation is:
Transactions - monthly (quarterly)
Budgets - annual in line with recipient fiscal year, or quarterly (annual)

Guidance should be that new publishers aim for best practice on current data (NB not current activities) and stick to that moving

[2014-04-22 11:20] bill-anderson commented on #17
I am happy for them not to be in dev.iatistandard.org.
I don't see the point of including them and then deprecating them on 7 May.

[2014-04-22 15:14] Bjwebb commented on #39
Depends what are the exact reasons are for restricting these characters. There are all sorts of [odd and unusual](http://en.wikipedia.org/wiki/Control_character#In_ASCII) characters in ASCII, and even more in unicode. Additionally, characters like `#`, `?` and `&` can be especially problematic for URLs if people are not escaping properly. The most surefire way to avoid problems is by using a white

[2014-04-22 15:16] bill-anderson commented on #39
Yes, definitely 2.01
Reason is solely url-related.
Agree with a whitelist. Can you draw one up that we can test against current usage on the dashboard?

[2014-04-22 15:18] Bjwebb commented on #39
Thanks. Yes, I'll look into it.

[2014-04-22 15:27] Bjwebb commented on #79
It's a nice easy one to add a redirect for, so url related disruption should be minimal.

[2014-04-22 16:35] stevieflow commented on #53
overview sections are now in the SSOT for activity and org standards: eg: https://github.com/IATI/IATI-Extra-Documentation/tree/version-1.04/en/organisation-standard/overview

[2014-04-22 16:35] #53 closed, assigned to stevieflow

[2014-04-22 16:38] stevieflow commented on #20
This is covered through the overview and getting started

[2014-04-22 16:38] #20 closed, assigned to stevieflow

[2014-04-22 16:38] stevieflow commented on #19
covered through overview and getting started

[2014-04-22 16:38] #19 closed, assigned to stevieflow

[2014-04-22 16:39] stevieflow commented on #12
This is fixed in 1.04 schema and also documentation: http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/country-budget-items/

@caprenter does something need adding to the 1.04 changelog for this?

[2014-04-22 16:40] stevieflow commented on #14
As in: https://github.com/IATI/IATI-Extra-Documentation/pull/86

[2014-04-22 16:40] #14 closed, assigned to stevieflow

[2014-04-22 16:41] stevieflow commented on #10
Done: https://github.com/IATI/IATI-Extra-Documentation/pull/86

[2014-04-22 16:41] #10 closed, assigned to stevieflow

[2014-04-22 16:42] stevieflow commented on #9
Work done on this via: https://github.com/IATI/IATI-Extra-Documentation/pull/86

Will create a new Issue in terms of general date examples

[2014-04-22 16:42] #9 closed, assigned to stevieflow

[2014-04-22 16:45] stevieflow opened #87 "code-examples for iso dates - text"
We should clarify whether date examples for 1.04 should only include the ISO date within the XML

So the example of:

`<activity-date iso-date="2012-04-15" type="start-planned">2012-04-15</activity-date>`

could be:

`<activity-date iso-date="2012-04-15" type="start-planned"/>`

Also see: https://github.com/IATI/IATI-Extra-Documentation/issues/38

[2014-04-22 16:47] Bjwebb commented on #87
I don't think it matters much which of the above publishers use. However, I think the latter is what we should be suggesting in our examples.

[2014-04-22 16:47] stevieflow commented on #81
Are the code-examples in http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/document-link/ any better ?

[2014-04-22 16:48] stevieflow commented on #87
If @caprenter agrees, I can easily update all code-examples accordingly

[2014-04-22 16:50] Bjwebb commented on #81
Yes, that looks good.

[2014-04-22 16:50] #81 closed, assigned to stevieflow

[2014-04-22 16:50] stevieflow commented on #52
This list is getting longer - propose that we move this and associated Issues into https://github.com/IATI/IATI-Guidance - and out of versioning of the standard

Of course, some guidance might be integral to certain versions of the standard, but it does seem better to manage these issues through Guidance....

[2014-04-22 16:50] bill-anderson commented on #87
@caprenter and I discussed the text part earlier and we agreed that there are cases where this is important. There might be a formal written agreement to start an activity in "mid June".

[2014-04-22 16:56] Bjwebb commented on #87
Yes, the text part is important, and we should have an example showing how to use this.

However, I don't think that telling publishers to duplicate an iso date in the text part is useful.

[2014-04-22 17:08] Bjwebb opened #88 "Activity file should have iati-activities as the root element"
This should be mentioned on:
http://dev.iatistandard.org/activities-standard/overview/activity-file/

Similarly, an Organisation File should have a root element of iati-organisations, even if it describes only one organisation.
http://dev.iatistandard.org/organisation-standard/overview/organisation-file/

[2014-04-22 17:13] stevieflow opened #89 "reference code-examples"
Look at http://sphinx-doc.org/markup/code.html#includes to include relevant code examples

[2014-04-23 09:43] Bjwebb commented on #41
@avanderpluijm Yes, `wget --no-check-certificate` is basically sufficient.

We have also had some weird issues with timeouts during the SSL/TLS handshake, which no-check-certificate does not avoid, but for which there are other wget options http://dev.iatistandard.org/developer/tools-generic/#issues

However, whilst wget is the main tool that I use personally, IATI needs to support a wide variety

[2014-04-23 10:48] stevieflow opened #90 "Update org and activity standard "homepages""
Include links and overview :
- [x] org standard: https://github.com/IATI/IATI-Extra-Documentation/commit/2bdc29771a80e851d9904bf6bf104eeb0628a822
- [x] activity standard: https://github.com/IATI/IATI-Extra-Documentation/commit/a6358c707c445b3b3f96c00bbb61856b256089b8

[2014-04-23 10:57] Bjwebb commented on #41
I've added a new page to the developer docs for this information - http://dev.iatistandard.org/developer/access/ - and linked to it from "Publish Your Datafiles".

[2014-04-23 10:57] #41 closed, assigned to Bjwebb

[2014-04-23 10:59] stevieflow opened #91 "Create Org Identifiers page"
At top level

[2014-04-23 11:36] #59 closed, assigned to Bjwebb

[2014-04-23 12:47] stevieflow commented on #87
Where do we stand on guidance for `period-start` & `period-end` combinations and text?

eg:

`<period-start iso-date="2015-01-01">2015</period-start>
<period-end iso-date="2015-12-31">2015</period-end>`

Is _2015_ useful in this example?  Could / should it be:

`<period-start iso-date="2015-01-01">Start of financial year 2015</period-start>
<period-end iso-date="2015-12-31">End of financial year 2

[2014-04-23 12:57] stevieflow opened #93 "planned-disbursement"
Aware that this has `period-start` & `period-end` elements, but IATI only expects a single date

This is not reflected here:

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/planned-disbursement/

Aware that this is within 2.01 discussions (http://support.iatistandard.org/entries/22915067-Modify-planned-disbursement-period-start-Alter-guidance-AND-make-start-date-mand

[2014-04-23 13:15] stevieflow opened #94 "Change generated and lastupdated example dates to AFTER 1.04 release"
- [x] organisation standard example
- [x] activity standard example

[2014-04-23 13:20] stevieflow opened #95 "Write up rst markup"
write up various conventions used for rst markup

[2014-04-23 13:21] Bjwebb commented on #95
I made a start of this at https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/README.rst#markup

[2014-04-23 15:07] stevieflow opened #97 "Full XML example - comments"
Decide on whether to leave comments in or not

[2014-04-23 15:08] stevieflow commented on #89
Done for org standard: https://github.com/IATI/IATI-Extra-Documentation/pull/92

[2014-04-23 15:09] bill-anderson commented on #93
cf my slide from montreal on planned-disb
- A further breakdown of the budget providing predictability of actual cash flow
- Particularly important for budget support
- Also useful for grant funding that has highly predictable disbursement dates
- (Problem in standard in accurately reporting a single date rather than a period – to be fixed in 1.05)

Can we change guidance in 1.04 to say you can ei

[2014-04-23 15:09] stevieflow opened #98 "Embedded examples - emphasize text"
Review whether pages such as http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation/total-budget/period-start/ need further text to present the example (all relevant text is at the parent element page)

[2014-04-23 15:48] stevieflow commented on #12
No need for changelog edit

[2014-04-23 15:48] #12 closed, assigned to caprenter

[2014-04-23 17:34] #55 closed, assigned to stevieflow

[2014-04-23 17:37] Bjwebb commented on #78
@stevieflow is doing this as part of his work of including the XML from an external file https://github.com/IATI/IATI-Extra-Documentation/issues/89

[2014-04-23 18:08] Bjwebb commented on #91
Once this page exists, link to it from the appropriate places. e.g.
- http://dev.iatistandard.org/codelists/OrganisationRegistrationAgency/

[2014-04-23 18:26] stevieflow commented on #78
Done: https://github.com/IATI/IATI-Extra-Documentation/commit/fb632a05286a271e9e9e4ebf24bda105be676dd6

[2014-04-23 18:26] #78 closed, assigned to stevieflow

[2014-04-23 18:46] stevieflow opened #99 "Using bullets in example-code"
Review whether Example Usage statements should use bullet points

[2014-04-23 18:57] Bjwebb commented on #58
Apart from the sitemap, which is being tackled through a different issue, I think these are last minute changes we should make as the site's going live.

[2014-04-23 18:59] stevieflow opened #100 "text / language examples"
Add to
- [ ] `collaboration-type`
- [ ] `default-finance-type`
- [ ] `default-flow-type`
- [ ] `default-aid-type`
- [ ] `default-tied-status`

[2014-04-24 08:17] stevieflow commented on #94
Changed to `2014-05-06T10:15:37`

[2014-04-24 08:17] #94 closed, assigned to nobody

[2014-04-24 08:18] stevieflow commented on #89
Done for activity standard top level elements.  Need to add for sub-elements: https://github.com/IATI/IATI-Extra-Documentation/commit/108c7353d2a3fc009d343e92091665dc43e6cfe9

[2014-04-24 10:30] Bjwebb opened #101 "Link from overview pages to reference pages"
and vice versa

[2014-04-24 11:36] stevieflow opened #102 "Notes and Additional Notes on provider-org and receiver-org"
These are in the current code-example for `provider-org` and `receiver-org` - a legacy of the copy over from the iatistandard wordpress/wiki:

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/transaction/provider-org/

Need to decide if these are to remain in Extra Documentation, as other elements do not include such notes

[2014-04-24 13:30] stevieflow opened #103 "fss/forecast - example with no value-date"
For @bill-anderson

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/fss/forecast/

current example has a second forecast of:

`<forecast year="2015" currency="GBP">20000</forecast>`

this is missing a `value-date` - is this a mistake?

[2014-04-24 15:47] stevieflow opened #104 "location changes - overview"
Proposal for a page / statement to provide an overview of the key changes between 1.03 and 1.04 for `location`, alongside the changelog

[2014-04-24 16:19] caprenter commented on #82
Draft text on codelist management here to those that have permission to access:
https://docs.google.com/document/d/16u6z8g6Yo1P7mhljogjMr3bLFsD46kseLQFUlsQaUX4/edit#

[2014-04-24 16:28] stevieflow commented on #88
Done: https://github.com/IATI/IATI-Extra-Documentation/commit/56d6b950e9901765954bf40f3e4f91cbe3be7220

[2014-04-24 16:28] #88 closed, assigned to stevieflow

[2014-04-24 16:59] stevieflow commented on #89
Done for activity standard: https://github.com/IATI/IATI-Extra-Documentation/commit/9def9ad1c68c6bb31a2e17c5e2dd913164c55256

[2014-04-24 16:59] #89 closed, assigned to nobody

[2014-04-24 17:20] stevieflow commented on #17
This seems to be the case for 1.04 - so can be closed @Bjwebb ?

[2014-04-24 17:28] stevieflow commented on #63
@Bjwebb do you mean freetext elements such as activity/result  `title` & `description` , but then also elements such as contact-info `person-name` or org standard `name`  etc?

Or specifically just activity `title` ?

[2014-04-24 21:38] stevieflow opened #105 "Write notes on SSOT example XML and code-examples"
- [ ] bolean examples are 1/0 (rather than true/false)
- [ ] min/multi example XML files - differences between
- [ ] reference to the standards in *\* bold italics**

[2014-04-25 08:01] bill-anderson commented on #103
Yes it is a mistake. Must have a value date.

[2014-04-25 08:17] stevieflow commented on #103
fixed in https://github.com/IATI/IATI-Extra-Documentation/commit/a3f82813c4bd4a1f0dae073317f7091d44c046a8

[2014-04-25 08:17] #103 closed, assigned to nobody

[2014-04-25 12:20] #17 closed, assigned to stevieflow

[2014-04-25 12:22] Bjwebb commented on #63
All free text elements really. `title` is just the main element where I've come across it.

[2014-04-25 14:31] Bjwebb commented on #104
Is there information you want to include in this, that isn't already in the changelog at http://dev.iatistandard.org/upgrades/decimal-upgrade-to-1-04/1-04-changes/#activities-schema ?

To avoid duplicating information, I propose making any necessary changes to the changelog, and then linking to it from the location page.

[2014-04-25 15:00] stevieflow commented on #104
Thanks

I suppose the _facts_ on what has changed are well documented.  Perhaps what is really needed is better _guidance_ on using `location` in 1.03 / 1.04 - and maybe that is something to task the geocoding working group with, for example?

[2014-04-25 15:39] Bjwebb commented on #104
Yes, I think that is a task for the working group. Currently this issue is part of the 1.04 milestone. What specifics tasks need doing for 1.04? Just a link from http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/location/ to the changelog?

[2014-04-25 15:47] stevieflow commented on #104
Yes

[2014-04-28 13:17] stevieflow commented on #99
No

[2014-04-28 13:17] #99 closed, assigned to nobody

[2014-04-28 13:19] stevieflow commented on #100
@bill-anderson
See code-example for : http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/default-finance-type/

Minded to stick with this, rather than try and add xml:lang examples, as we are headed towards language-neutral use of codelists

What do you think?

[2014-04-28 13:20] stevieflow commented on #98
This is fine as is

[2014-04-28 13:20] bill-anderson commented on #100
Agree

[2014-04-28 13:21] #100 closed, assigned to stevieflow

[2014-04-28 13:22] stevieflow commented on #98
Possibility to use `emphasize-text` though

[2014-04-28 13:23] stevieflow commented on #87
@bill-anderson

[2014-04-28 13:24] stevieflow commented on #97
leave as is

[2014-04-28 13:24] #97 closed, assigned to nobody

[2014-04-28 13:24] stevieflow opened #106 "download example XML - URL"
- [x] org standard
- [x] activity standard (min)
- [x] activity standard (max)

[2014-04-28 13:27] caprenter commented on #87
I think the current examples for period-start:
http://iatistandard.org/activities-standard/budget/period-start/
and period-end
http://iatistandard.org/activities-standard/budget/period-end

are fine.

The text part should be discouraged, and it should be clear that an ISO date is preferred and importantly, actually of some use to most data consumers (and their machines). In the case where it is no

[2014-04-28 14:12] Bjwebb commented on #99
![](http://img2.wikia.nocookie.net/__cb20130709214607/lego/images/c/c3/39215-grumpy-cat-no-Rwoe.jpeg)

[2014-04-28 15:21] stevieflow commented on #99
Exactly

[2014-04-28 16:21] stevieflow opened #108 "Add | to code-example and overview text"
- [x] org standard overview
- [x] org standard code-example
- [x] activity standard overview
- [x] activity standard code-example

[2014-04-29 10:58] stevieflow commented on #91
Moving to Guidance: https://github.com/IATI/IATI-Guidance/issues/7

[2014-04-29 13:39] caprenter opened #109 "Add info about XM-DAC"
Use of XM-DAC in organisation identifiers needs to be added to extra documentation  about Organisation Identifiers

[2014-04-29 13:56] caprenter commented on #82
Text agreed.
@Bjwebb to put into the SSOT.

[2014-04-29 14:15] stevieflow commented on #91
Added to new/holding FAQ directory: https://github.com/IATI/IATI-Extra-Documentation/commit/84b25e3bcdeef0a33e2a733dd02830e536348954

[2014-04-29 14:15] #91 closed, assigned to nobody

[2014-04-29 14:32] stevieflow opened #110 "Overview pages: Add links to Org ID guidance"
When available
- [x] org/iati-identifier
- [x] activity/iati-identifier

[2014-04-29 14:54] #90 closed, assigned to nobody

[2014-04-29 15:06] stevieflow commented on #106
Done: https://github.com/IATI/IATI-Extra-Documentation/commit/4cdf5ce198e6bb8022fd9c02c36468b2c79d60ac

[2014-04-29 15:06] #106 closed, assigned to nobody

[2014-04-29 15:08] stevieflow commented on #38
Think this has to be considered too: https://github.com/IATI/IATI-Extra-Documentation/issues/87

Would propose to push this into "After 1.04" milestone

[2014-04-29 15:10] Bjwebb commented on #38
@stevieflow Agreed

[2014-04-29 15:34] stevieflow commented on #73
With the overview pages , some of this is now covered, but an Org ruleset is not

Suggest to push this to Post 1.04 - we also need to think about a Ruleset "section"?

[2014-04-29 15:38] stevieflow opened #111 "receiver / recipient - org"
In Org standard we declare:  `recipient-org`

In Activity standard, in a transaction, we declare: `receiver-org`

From @bill-anderson

[2014-04-29 15:39] stevieflow commented on #98
Example: https://github.com/IATI/IATI-Extra-Documentation/commit/e3325cb58d6a35b622ac3c9fa8a85f065577e4d7

In dev: http://dev.iatistandard.org/organisation-standard/iati-organisations/iati-organisation/document-link/category/

[2014-04-29 16:19] #82 closed, assigned to Bjwebb

[2014-04-29 16:53] bill-anderson commented on #73
I'm happy for this to go post 1.04

[2014-04-29 16:54] wendyrogers opened #112 "Review Comments On Organisation Overview"
http://dev.iatistandard.org/organisation-standard/overview/
- [ ] Is Organisation Standard a name? Should it always be capitalised?
- [x] First and second paras seem to say essentially the same thing. Can they be combined?
- [x] The link from ‘reference’ section goes to a different page from the Reference link in the LH sidebar  and was not what I was expecting (looked more like schema than refere

[2014-04-29 17:42] stevieflow commented on #35
Added to org and activity file overview pages: https://github.com/IATI/IATI-Extra-Documentation/commit/5f441deabfed6969681eb3a39e4560856e2e8d90

[2014-04-29 17:42] #35 closed, assigned to stevieflow

[2014-04-29 17:51] stevieflow commented on #16
@bill-anderson

Is the recommendation that `reporting-org` should always be the "iati-identifier" reference that is used in the publisher record on the IATI Registry?

In need of clarification around this is that in the Org Standard there is a specific `iati-identifier` field, which is an org reference.  Hence, it can be possible to have:
- `reporting-org` = 123
- registry id = 123
- `iati-identif

[2014-04-29 18:15] bill-anderson commented on #16
I'm happy to push post 1.04 - perhaps to 2.01 to make absolutely clear.

Put org standard aside - there is a separate proposal somewhere arguing we should rename for clarity.

For activities.

1) Registry validation ( how it should work)

When a publisher (registry publisher-id = ABC) registers any packet, ALL activities in the packet MUST contain a reporting-org/@ref that matches the registry IAT

[2014-04-29 18:32] stevieflow commented on #54
There should only be one `iati-activity` element in the whole IATI dataset with a given `iati-identifier`

[2014-04-29 18:35] stevieflow commented on #54
This is done in: https://github.com/IATI/IATI-Extra-Documentation/commit/c00a6796cce1ce0cfb0033efcdc0a9c6c84d9d31

[2014-04-29 18:35] #54 closed, assigned to stevieflow

[2014-04-29 18:41] stevieflow commented on #54
Also added: https://github.com/IATI/IATI-Extra-Documentation/commit/7fb7980b66c9b28dc36c507e3fa671ad8a74d7e0

[2014-04-29 18:52] stevieflow commented on #39
Have made reference to this in the `iati-identifier` overview pages for both org and activity standards: https://github.com/IATI/IATI-Extra-Documentation/commit/628732f1ee4b39019d4f050dadad201c5aec76cf

[2014-04-29 18:54] stevieflow commented on #110
Holding navigation under "Further guidance" via: https://github.com/IATI/IATI-Extra-Documentation/commit/628732f1ee4b39019d4f050dadad201c5aec76cf

[2014-04-29 18:56] stevieflow commented on #102
@bill-anderson @Bjwebb @caprenter would suggest that this is incorporated into Org ID guidance page , and not in the code-example

[2014-04-29 19:20] stevieflow opened #113 "Which elements are not explicitly referenced in the overview pages?"
- [ ] `legacy-data`
- [x] `conditions`

[2014-04-29 19:57] stevieflow commented on #38
Further to this - we might want to check for 1.04 that ISO 8601 is correct for both:
- `activity-date`: http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/activity-date/
- `generated-datetime` & `lastupdated-datetime` eg: http://dev.iatistandard.org/activities-standard/iati-activities/

The schema text for both these declare use of the `ISO 8601` but in different formats

[2014-04-29 20:54] stevieflow opened #114 "Changed related-data overview page to traceability"
Re: https://github.com/IATI/IATI-Extra-Documentation/commit/b8d6ac02eee2616e6a7d1e5326e57bdd834d6fe3

@Bjwebb @bill-anderson  would you agree with this?  Other overview pages have a more descriptive / literal title .  Only concern with `traceability` is that it could be thought of more as a "technique".

Or not

[2014-04-29 21:10] stevieflow commented on #63
Added to overview pages for `title` `description` `result` `contact-info` and `iati-activity` and `iati-organisation`:

https://github.com/IATI/IATI-Extra-Documentation/commit/f0051e897204f96275bc3f47aa22b437ea5151ed

https://github.com/IATI/IATI-Extra-Documentation/commit/12e66469bd911c6ad98867b3365e4971e1cd65f1

[2014-04-29 21:10] #63 closed, assigned to stevieflow

[2014-04-29 21:25] stevieflow opened #115 "FSS / CRS-Add overview page"
Re: https://github.com/IATI/IATI-Extra-Documentation/commit/81845024276fa206485d0d35bfaf9da18b7fdcfb

This page does not yet have any Considerations for publishers: http://dev.iatistandard.org/activities-standard/overview/crs-fss/

It is also not referenced in other overview pages - such as activity/dates

Suggestion to leave this to post 1.04

[2014-04-29 21:30] stevieflow opened #116 "CRS-Add - Aid Type Flag - significance"
@bill-anderson

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/crs-add/aidtype-flag/

`significance`:

Therefore:

`<aidtype-flag code="1" significance="0" />` should not be reported?

But

`
<aidtype-flag code="1" significance="1" />
<aidtype-flag code="2" significance="1" />
<aidtype-flag code="3" significance="1" />
`

could be?

I question the purpose of `signifi

[2014-04-29 21:36] stevieflow opened #117 "Gudance on relation between recipient-country/region & location"
There is no explicit guidance on when `location` should  be invoked, apart from:

http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/location/

Schema text:

Questions that need clarifying in schema / extra/docs:
- Can `location` be used to describe country/regions?
- If a `location` is used, are `recipient-country` / `recipient-region` also needed in the same ''iati-act

[2014-04-29 22:01] stevieflow commented on #42
This is all now addressed and fixed in updates to extra-docs / code-examples

[2014-04-29 22:01] #42 closed, assigned to stevieflow

[2014-04-29 22:03] stevieflow commented on #33
Propose to move this from 1.04 as it has to be general guidance

[2014-04-29 22:04] stevieflow commented on #34
This was from an old email thread - proposal to push this into post 1.04 guidance tasks

[2014-04-30 07:28] bill-anderson commented on #34
I'm happy for some delay to ease the work load. But this was confirmed in Montreal and does not require consultation. Would prefer it to go in now as it is quite important (along with distinction between budget and planned-disbursement)

[2014-04-30 07:29] bill-anderson commented on #33
Agreed

[2014-04-30 07:33] bill-anderson commented on #117
recipient-country and/or recipient-region are mandatory, irrespective of use of location.

you can reference a country or region - either to define the scope of the activity, or ,more importantly, to geocode it with coordinates so that it can be represented on a map along with sub-national fixed point activities

[2014-04-30 07:40] bill-anderson commented on #116
In CRS these four codes are separate columns. And are flagged with 1=Yes. So similar to the way we handle policy markers. Significance = 1 means the flag is set. You do not have to report that the flag is not set.

[2014-04-30 07:43] bill-anderson commented on #114
Related activities and traceability are two separate issues. Yes there is an intersection, but they need to be written up separately. It is confusing to include related-activity directly in guidance on traceability. related-activity is NOT part of traceability guidelines

[2014-04-30 07:58] stevieflow commented on #114
Thanks @bill-anderson

I'll revert back to related-data as a title for the specific overview page, and update the content accordingly

Traceability should be a separate document, outside of these overview pages

[2014-04-30 08:02] bill-anderson commented on #38
I think it is important to enforce time in generated-datetime because an audit of when public-facing data is actually updated is important. This must also include include UTC or timezone reference.

lastupdated-datetime doesn't really need the time.

I'm torn on activity-date. A date more fuzzy than yyyy-mm-dd may in some circumstances be more accurate, but it makes users life difficult.

[2014-04-30 08:05] bill-anderson commented on #102
Agree

[2014-04-30 08:55] Bjwebb commented on #38
Note that in the XML schema `activity-date/@iso-date` is declared as `xs:date`, whereas `@last-updated-datetime` and `generated-datetime` are `xs:dateTime`.

ISO 8601 defines a large number of possible formats for dates, so it is correct to say that both formats are according to ISO 8601, but it's also important to define more precisely what format we mean.

This is the problem described above, wh

[2014-04-30 08:56] bill-anderson commented on #38
OK

[2014-04-30 09:02] Bjwebb commented on #102
:+1:

[2014-04-30 09:15] stevieflow commented on #117
ok thanks

Also - does `activity-scope` have a similar relationship to `location` ?

[2014-04-30 09:16] bill-anderson commented on #87
Budgets need iso-dates: this is not standalone information but is essential for analysis of budget values. In the case of budgets text is meaningless as the period is already described.

For activity and transaction dates we need a specific iso-date, but the text can be used to explain that the actual date is more fuzzy than the iso-date

[2014-04-30 09:17] stevieflow commented on #102
@caprenter @Bjwebb any chance to take care of this?

Might be best to wait for my changes to be merged by @Bjwebb first...

[2014-04-30 09:25] bill-anderson commented on #117
Do you mean that activity scope qualifies the meaning of coordinates? - yes

[2014-04-30 15:36] #79 closed, assigned to Bjwebb

[2014-04-30 16:47] Bjwebb opened #118 "Example XML should be in Reference, rather than Overview"

[2014-04-30 17:01] stevieflow commented on #118
Agree

[2014-05-01 11:32] stevieflow commented on #108
Complete

[2014-05-01 11:32] #108 closed, assigned to stevieflow

[2014-05-01 11:33] stevieflow commented on #98
Completed

[2014-05-01 11:33] #98 closed, assigned to stevieflow

[2014-05-01 11:33] stevieflow opened #121 "location example"
Use Example XML for this in relevant pages

[2014-05-01 13:34] caprenter commented on #102
ok - will remove the 'notes' section from each of these pages:
http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/transaction/provider-org/
http://dev.iatistandard.org/activity-standard/iati-activities/iati-activity/transaction/receiver-org/

and distil the info into:
https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/FAQs/organisation-identifiers.rst

[2014-05-01 13:37] Bjwebb commented on #101
@stevieflow I've created links from the reference pages to the overview pages (e.g. http://dev.iatistandard.org/activity-standard/iati-activities/iati-activity/activity-date/) based on [JSON maping files](https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/activity-standard/overview-mapping.json), but not the other way round, since you've already included the links. For consisten

[2014-05-01 13:39] stevieflow commented on #101
Yes please

[2014-05-01 13:39] caprenter commented on #102
On reflection I don't think there is anything in the 'notes' text that is not described in the larger document. So closing this issue.

[2014-05-01 13:39] #102 closed, assigned to caprenter

[2014-05-01 13:57] Bjwebb commented on #118
http://dev.iatistandard.org/activity-standard/example-xml/
http://dev.iatistandard.org/organisation-standard/example-xml/

[2014-05-01 13:57] #118 closed, assigned to Bjwebb

[2014-05-01 16:05] stevieflow commented on #117
@bill-anderson you mean

inclusion of this in an iati-activity: http://dev.iatistandard.org/activity-standard/iati-activities/iati-activity/activity-scope/

would inform what is in this:
http://dev.iatistandard.org/activity-standard/iati-activities/iati-activity/location/ ?

[2014-05-01 16:06] stevieflow commented on #115
@bill-anderson agree to leave this to post 1.04?

[2014-05-01 16:07] stevieflow commented on #111
Flag for post 1.04 - possibly move this to Guidance repo

[2014-05-01 16:10] stevieflow opened #122 "Check overview pages against live iatistandard"
Specifically:
- [x] Formatting Data: http://iatistandard.org/103/getting-started/formatting/character-encoding/: https://github.com/IATI/IATI-Guidance/issues/34
- [x] Financial: http://iatistandard.org/103/getting-started/financial-data/transactions/: https://github.com/IATI/IATI-Guidance/issues/33
- [x]  Geopolitical Information: http://iatistandard.org/103/getting-started/geographic-data/countri

[2014-05-01 16:10] stevieflow commented on #43
Closing - and creating new Issue : https://github.com/IATI/IATI-Extra-Documentation/issues/122

[2014-05-01 16:10] #43 closed, assigned to stevieflow

[2014-05-01 16:27] bill-anderson commented on #115
Yes. And assign to me

[2014-05-01 16:32] stevieflow commented on #116
Parking into Post 1.04 also - as still think this needs review and possible change (after discussion)

[2014-05-01 16:34] bill-anderson commented on #116
By parking you mean leave http://dev.iatistandard.org/activities-standard/iati-activities/iati-activity/crs-add/aidtype-flag/ as is?

I'm happy with that.

[2014-05-01 17:02] Bjwebb commented on #101
I've now added links from the mapping file - e.g. http://dev.iatistandard.org/activity-standard/overview/classifications/

Remaining TODOs:
- [x] Remove your manually added links, as appropriate
- [x] Change the header level, so that "Reference" isn't in such large letters
- [x] Is "Reference" a useful name for that section?
- [x] @stevieflow Look through the mapping file (or the output on the sit

[2014-05-01 17:05] bill-anderson commented on #117
I thought so but you are making me doubt myself. If an activity is national or regional in scope and one set of coordinates is given, how do you know what the coordinates represent? recipient-region and recipient-country don't tell you this.

[2014-05-01 17:10] Bjwebb opened #123 "Fix organisation identifiers image"

[2014-05-01 17:27] stevieflow commented on #117
Thanks

Moving this to Post-1.04 so that it doesn't get in the way of getting 1.04 live.

This could become a part of guidance around implementing location

[2014-05-01 17:49] stevieflow opened #124 "Overview pages: Remove related links"
These are replaced through @Bjwebb magic: https://github.com/IATI/IATI-Extra-Documentation/issues/101#issuecomment-41930396

[2014-05-01 17:50] stevieflow commented on #101
Thanks

I can remove the links in the last clean up - have created a new Issue: https://github.com/IATI/IATI-Extra-Documentation/issues/124

For Reference - I'd suggest "Reference pages"?

Regarding the mapping - that's really great.  Will have to edit this when (for example) any changes are made the overview file name (as in https://github.com/IATI/IATI-Extra-Documentation/issues/114)

[2014-05-01 17:56] stevieflow commented on #110
@Bjwebb this would now be administered through the JSON mapping file?

https://github.com/IATI/IATI-Extra-Documentation/issues/101

[2014-05-02 07:36] stevieflow commented on #52
Moved this list over to: https://github.com/IATI/IATI-Guidance/issues/9

If there are any specific 1.04 issues, we can raise Issues accordingly

[2014-05-02 07:36] #52 closed, assigned to stevieflow

[2014-05-02 07:54] stevieflow opened #125 "location/description"
This remains in 1.04 - but it is unclear if it is deprecated or not.

A new element, `activity-description` is in from 1.04

@bill-anderson any chance to clarify?  I can mark up the Extra Documenttion page accordingly as a starter

[2014-05-02 07:59] stevieflow opened #126 "1.04 changes - conditions/.condition"
Should we have a note here:

http://dev.iatistandard.org/upgrades/decimal-upgrade-to-1-04/1-04-changes/

to state that a lang attribute was added/fixed to condition ?

http://dev.iatistandard.org/activity-standard/iati-activities/iati-activity/conditions/condition/

[2014-05-02 08:00] stevieflow commented on #101
I presume that the Reference links in the side navigation are a result of the (temporary) header level markup?

[2014-05-02 08:19] stevieflow commented on #125
The same could be asked of `location/name`

[2014-05-02 08:45] bill-anderson commented on #125
description describes the location
activity-description describes the activity taking place at the location

say you have a project taking place in three locations which involves building two schools and a clinic. How do you know what is being built where

[2014-05-02 08:50] stevieflow commented on #125
OK thanks @bill-anderson

Will update the overview around this accordingly

[2014-05-02 08:50] #125 closed, assigned to bill-anderson

[2014-05-02 08:51] stevieflow commented on #121
Done: https://github.com/IATI/IATI-Extra-Documentation/commit/fec41af21e1961a3d6bea44f412226d373b4ecfe

[2014-05-02 08:51] #121 closed, assigned to stevieflow

[2014-05-02 08:51] Bjwebb commented on #126
Yes, and also in https://github.com/IATI/IATI-Schemas/blob/version-1.04/CHANGES.txt

[2014-05-02 09:09] #114 closed, assigned to stevieflow

[2014-05-02 09:09] stevieflow commented on #124
- [x] org overview
- [x] activity overview

[2014-05-02 09:11] Bjwebb commented on #110
No, it's current implementation is only for pages in *-standard/overview - and I don't feel it's appropriate for these links. Just use a sphinx internal link, preferably to a label.

[2014-05-02 09:14] #124 closed, assigned to stevieflow

[2014-05-02 09:21] Bjwebb commented on #112
We normally use "should" to mean something stronger, and "can" to mean something weaker than "recommended", so I'm not sure whether we should make this change.

[2014-05-02 09:25] wendyrogers commented on #112
Yes I agree and I have just picked up the same general point specifically for the Considerations sections as a result of reviewing the IATI Activity Standard Overview

[2014-05-02 09:38] #123 closed, assigned to Bjwebb

[2014-05-02 10:15] wendyrogers opened #128 "Review Comments On Activity Overview"
General
- [x] Can the links to reference either be removed or moved to next level down in the LH side bar as there are currently multiple links to just ‘reference’. Alternatively each reference link should be qualified eg Activity File Reference?
- [x] Not sure what the difference is between the ‘Further Guidance – Reference and reference Sections for most data items as they seem to generally cont

[2014-05-02 10:26] Bjwebb commented on #128
This is a bug. https://github.com/IATI/IATI-Extra-Documentation/issues/101#issuecomment-42000466 Those multiple links to reference should not appear in the sidebar at all.

Yes, this is actual duplication, because we were in the middle of changing from one way of managing these links, to another. Steven's fixed this https://github.com/IATI/IATI-Extra-Documentation/issues/124, so it should be sorte

[2014-05-02 10:28] Bjwebb commented on #101
@stevieflow Yes, that's right. Will fix shortly.

[2014-05-02 10:38] #101 closed, assigned to Bjwebb

[2014-05-02 10:57] stevieflow opened #129 "File "must be valid XML.""
In

http://dev.iatistandard.org/activity-standard/overview/activity-file/
http://dev.iatistandard.org/organisation-standard/overview/organisation-file/

@iatisupport raises point in #112 that this needs a better explanation

[2014-05-02 11:01] Bjwebb opened #130 "Conditions example is wrong?"
http://dev.iatistandard.org/activity-standard/iati-activities/iati-activity/conditions/
http://dev.iatistandard.org/activity-standard/iati-activities/iati-activity/conditions/condition/

[code]

should be

[code]

[2014-05-02 11:02] stevieflow opened #131 "org overview - review organisations & iati-organisation pages"
These may be confusing/ duplicating content

[2014-05-02 11:03] stevieflow commented on #112
Thanks @iatisupport

I've made changes to this, and marked the bullets above accordingly

Some further notes:
- Naming of standard - I took a consistent approach to name it the **IATI organisation standard** - so this should go back to naming conventions for decisions
- Blank lines on organisation-file page - one to check on the next build

Organisations
I can see your point.  There is an overview

[2014-05-02 11:05] #130 closed, assigned to stevieflow

[2014-05-02 11:06] wendyrogers commented on #112
Yes have checked the feedback and happy to close

[2014-05-02 11:06] #112 closed, assigned to stevieflow

[2014-05-02 11:10] #126 closed, assigned to Bjwebb

[2014-05-02 11:22] stevieflow opened #132 "Set and use language conventions in overview sections"
From #128

[2014-05-02 11:22] stevieflow commented on #128
@iatisupport I certainly agree that we should rationalise and standardise the language.  However:

These overview pages are not specifically about an element, but key things that are described in the standard.

Ill deal with spelling and formatting issues right now - and have raised an issue post 1.04 for the language patterns: #132

[2014-05-02 11:54] stevieflow commented on #128
@iatisupport fantastic - thanks for this

Have ticked off all changes applied in https://github.com/IATI/IATI-Extra-Documentation/commit/aac366690d5aa12bb78d31c4970c8f4a7b308c69

I think other issues are dealt with elsewhere - so can close this Issue?

[2014-05-02 11:57] stevieflow commented on #34
putting into post-1.04 just for now

[2014-05-02 12:00] stevieflow commented on #93
@Bjwebb is this a ruleset change?

Putting into post-1.04 right now

[2014-05-02 12:08] Bjwebb commented on #93
The 2.01 changes require rulesets, but Bill's suggestions for 1.04/1.05 are changes to pieces of human readable text.

[2014-05-02 12:26] stevieflow opened #133 "Check lang code-examples are include"
In:

Org Standard
- [x] name

Activity Standard:
- [x]  title
- [x]  description
- [x] result title/description
- [x] result/indicator title/description
- [x] period/baseline comment
- [x] country-budget-items/description
- [x] transaction/description
- [x] conditions/condition
- [x] location

[2014-05-02 12:27] Bjwebb commented on #129
Yes, I think we could word this better. However, the current statement is true, so I would suggest postponing this until after the 1.04 release.

[2014-05-02 12:33] stevieflow commented on #129
Agreed

[2014-05-02 12:35] stevieflow opened #134 "review activity example XML"
Might be easier to merge the two example files, with more comments markup

[2014-05-02 12:36] stevieflow commented on #69
Checked: https://github.com/IATI/IATI-Extra-Documentation/commit/74fbff19e5bb70396212139f6ec851b8da631434

Follow up: #133

[2014-05-02 12:36] #69 closed, assigned to stevieflow

[2014-05-02 12:46] #133 closed, assigned to nobody

[2014-05-02 12:46] #128 closed, assigned to stevieflow

[2014-05-02 13:10] Bjwebb commented on #128
Yes, but this is a proposal for 2.01, so we shouldn't update the documentation yet.

[2014-05-02 13:34] wendyrogers commented on #128
Ah yes. No problem then to leave it until 2.01 then. Thanks

[2014-05-02 14:14] stevieflow opened #135 "Provide Sector RO example"
code-example

[2014-05-02 14:35] stevieflow opened #136 "Remove text names from example XML"
Only use text for Org names, title, name, description and contact-info

[2014-05-02 14:43] #136 closed, assigned to nobody

[2014-05-02 14:47] stevieflow commented on #135
@bill-anderson there is an RO code-example in there (manually added, for now).  Should we include extra text to clarify that the Name is needed?

[2014-05-02 15:04] bill-anderson commented on #135
I think so (as it is an exception to the rule)

[2014-05-02 15:10] stevieflow opened #137 "related-initiative"
From

http://iatistandard.org/getting-started/related-documents/related-activity/

I dont think `related-initiative` is an actual element

[2014-05-02 15:12] stevieflow commented on #122
@Bjwebb these documents will be very useful to update and use as key guidance for **The IATI Standard**.  Can you pull them over as .rst and into the Guidance repo?

[2014-05-02 15:12] stevieflow commented on #137
@bill-anderson this is pre-1.01 - will not make it through to the standard / 1.04 etc

[2014-05-02 15:12] #137 closed, assigned to bill-anderson

[2014-05-02 15:13] bill-anderson commented on #137
Correct

[2014-05-02 15:14] #135 closed, assigned to nobody

[2014-05-06 08:27] stevieflow commented on #64
No need to add this to iatistandard - as it will be on aidtransparency.

Have created this to fix the links though: https://github.com/IATI/IATI-Websites/issues/105

[2014-05-06 08:27] #64 closed, assigned to stevieflow

[2014-05-06 09:47] #58 closed, assigned to Bjwebb

[2014-05-06 14:55] stevieflow opened #138 "Update 1.04 on updgrades"
This http://dev.iatistandard.org/upgrades/decimal-upgrade-to-1-04/ needs to be updated as 1.04 has taken place

[2014-05-07 10:37] stevieflow opened #140 "Add link to datastore from iatistandard homepage"
Change "publishing IATI data" to "IATI data"

[2014-05-07 14:10] #140 closed, assigned to stevieflow

[2014-05-08 16:20] stevieflow opened #141 "Move Example XML and Overview table"
Feedback from @bill-anderson & @jonihillman
- let's move these two from "Reference" back into "Overview"

[2014-05-08 16:21] stevieflow opened #142 "Update Activity & Org Standard homepages"
Make it clearer what the Overview and Reference sections are, and what to expect

Relation@ #141

[2014-05-08 16:22] stevieflow commented on #141
:+1:

[2014-05-12 14:31] wendyrogers opened #143 "Update the Definition For Version"
The definition for version number on http://iatistandard.org/organisation-standard/iati-organisations/iati-organisation/ needs amending to indicate that the version number if specified should be one of 1.01 1.02 1.03 1.04.

Also is it possible to add links to format definitions of 'xsd:decimal' and 'xsd:dateTime'? I had an XML  file fail on the validator for last-updated-datetime and I wanted to f

[2014-05-13 08:40] stevieflow opened #144 "xsd: decimal and xsd:dateTime - definitions"
From @iatisupport

Also is it possible to add links to format definitions of 'xsd:decimal' and 'xsd:dateTime'? I had an XML file fail on the validator for last-updated-datetime and I wanted to find out what the correct format should be?

[2014-05-13 08:40] stevieflow commented on #143
@iatisupport good point about the version number - Ill add that to both org and activity examples

Have created #144 for the other point

[2014-05-13 15:53] Bjwebb opened #145 "Implement 2.01 "Segmentation and file size""
http://support.iatistandard.org/entries/61867937-File-size-and-segmentation

http://support.iatistandard.org/entries/57972186-Version-2-01-Iteration-1-8-Miscellaneous/

[2014-05-14 09:15] Bjwebb commented on #143
Note that in 2.01 we are introducing a Version Codelist to enforce the version number - http://support.iatistandard.org/entries/57972186-Version-2-01-Iteration-1-8-Miscellaneous

Prior to this, it's not clear that the version number is required to be one of the above values, but we can certainly add guidance stating that it should be.

[2014-05-14 14:37] stevieflow commented on #104
@rolfkleef mentioned that this would be a very useful document to include.

[2014-05-19 09:13] stevieflow opened #146 "country budget-item @percentage"
http://iatistandard.org/activity-standard/iati-activities/iati-activity/country-budget-items/budget-item/

It is not expected that the `percentage` attribute should sum to 100%.  This isnt clear in the examples given

@bill-anderson please confirm if we should update the example

[2014-05-19 12:00] bill-anderson commented on #146
Multiple <budget-item> elements should add up to 100% within the same vocabulary. (Can we check this with @markbrougn?)

What needs changing is

"When multiple budget-item are declared, then the percentage values should sum 100% for the specific iati-activity:"

Should be

"When multiple budget-item elements are declared in a single activity, then, for each vocabulary used, the percentage values s

[2014-05-22 07:38] stevieflow opened #147 "document-link examples - update"
Include examples to illustrate that multiple sub-elements are allowable - eg: multiple `category` for a single `document-link`

[2014-05-30 06:55] stevieflow opened #149 "document-link - category type"
Adjust relevant guidance around the following from @bill-anderson :

'A' type documents should only be reported in the Organisation file if there is a good reason for the document not to be linked to a specific activity.

[2014-05-30 06:55] stevieflow commented on #149
@bill-anderson From this, I would understand that B type documents are not advised in the Org file?

[2014-05-30 07:27] stevieflow opened #150 "Note on hierarchies"
Use this article

http://support.iatistandard.org/entries/40759343-General-rules-for-multi-level-reporting

(as noted by @iatisupport support in https://github.com/IATI/IATI-Guidance/issues/4#issuecomment-43346998

[2014-05-30 08:36] bill-anderson commented on #149
Correct. A and B were originally conceived as differentiating between agency and activity (so you could have an A and B code describing the same type of document - just at a different level of focus)

[2014-06-02 09:02] Bjwebb commented on #150
Note that article is a proposal for the 2.01 Upgrade, and not necessarily current guidance.

[2014-06-05 07:43] #149 closed, assigned to nobody

[2014-06-05 08:06] #147 closed, assigned to stevieflow

[2014-06-05 08:18] stevieflow commented on #146
Have updated this: https://github.com/IATI/IATI-Extra-Documentation/commit/3898c70868fcf5ac22252c5792a41b12e43ebc2a

I've:

Updated text to

When multiple `budget-item` elements are declared within a single `country-budget-items` element, then, for each `vocabulary` used, the `percentage` values should sum 100%

Changed code example so that two `budget-item` elements are within a single `country-b

[2014-06-05 08:25] stevieflow commented on #143
Im going to push this into a new milestone for July (in Guidance repo) - relating to cross-standard guidance/overview issues

[2014-06-05 08:31] stevieflow commented on #138
Moving this to https://github.com/IATI/IATI-Guidance

[2014-06-05 08:31] #138 closed, assigned to nobody

[2014-06-05 08:35] stevieflow commented on #134
This might be useful

Revert to @Bjwebb in line with discussions on how to better name these files

[2014-06-05 08:40] stevieflow commented on #131
This seems OK for now

Might get more clarity in terms of an IATI Standard Overview section, so pushing into that milestone to progress

[2014-06-05 08:41] stevieflow commented on #129
@Bjwebb any suggestions on what we say here?

That it is "well-formed": https://en.wikipedia.org/wiki/Well-formed_XML_document ?

[2014-06-05 09:11] Bjwebb commented on #129
We can say that, but it is also true that it must validate against the relevant schema.

[2014-06-05 11:28] stevieflow commented on #113
@Bjwebb @bill-anderson `legacy-data` is the only element that is now not covered via the overview pages.

This is the reference page: http://iatistandard.org/activity-standard/iati-activities/iati-activity/legacy-data/

Is an overview page needed?

[2014-06-05 11:46] #110 closed, assigned to stevieflow

[2014-06-05 11:58] stevieflow commented on #129
Added: https://github.com/IATI/IATI-Extra-Documentation/commit/c2b6cd8600a3c29ffc882094053f403f5fe9bb47

[2014-06-05 11:58] #129 closed, assigned to nobody

[2014-06-05 12:12] stevieflow commented on #115
@bill-anderson see: http://iatistandard.org/activity-standard/overview/crs-fss/

[2014-06-05 12:13] stevieflow commented on #104
assigned to @iatisupport as part of June documentation-related tasks

[2014-06-05 12:17] stevieflow commented on #116
@bill-anderson the example at http://iatistandard.org/activity-standard/iati-activities/iati-activity/crs-add/aidtype-flag/ doesn't include that `significance="0"` is an option.

That seems OK to close this Issue?

[2014-06-05 12:21] stevieflow commented on #87
@bill-anderson

From this discussion, I understand that:
- [x] `budgets` - the `period-start` and `period-end` date examples should just be iso-dates, as the text is meaningless.  Therefore, the example-code needs to be updated: https://github.com/IATI/IATI-Extra-Documentation/commit/b8e24326c1e275c368074e924eb2ed353af42e48
- [x]  `transactions` - text might be needed to add clarification.  Howeve

[2014-06-05 12:22] stevieflow commented on #73
@Bjwebb do we need a dedicated milestone to collect issues around documenting Rulesets, perhaps?

[2014-06-05 13:18] wendyrogers commented on #104
I have created a document called Summary Of Changes For Publishers for Location Related Elements In IATI Standard V1.04 here https://docs.google.com/document/d/1I2zoe-_s75kwDKSkU8BRhAZiTy-Fn2FTiaW4BQFUzus/edit for review

[2014-06-05 13:39] stevieflow commented on #141
One for @bjwebb

[2014-06-05 15:04] stevieflow commented on #141
@Bjwebb this is the only Issue that now remains in the Post-1.04 Milestone

[2014-06-05 15:13] stevieflow commented on #150
Closing this in Extra-Docs - but adding into relevant Issue(s) in Guidance

[2014-06-05 15:13] #150 closed, assigned to nobody

[2014-06-05 15:38] Bjwebb commented on #141
Do we want them at the beginning or the end of the overview section?

[2014-06-05 15:40] stevieflow commented on #104
Hi @iatisupport - this is great

I've made some edits - and some coments in terms of making it easier to follow (as in what the two tables are for), but this is a great start.

Would suggest that @bill-anderson proof reads (esp the tables)

We can then work with @Bjwebb to deploy to the site.  Is this a (generic) Guidance doc, or something that is couple with version 1.04?

[2014-06-05 15:41] stevieflow commented on #141
overview table - beginning

Example XML - end

[2014-06-05 15:46] #141 closed, assigned to Bjwebb

[2014-06-05 15:56] Bjwebb commented on #73
@stevieflow Yes, that seems like a good idea.

[2014-06-05 16:14] stevieflow commented on #122
I've checked all thse, and created new Issues in the Guidance repo

[2014-06-05 16:14] #122 closed, assigned to Bjwebb

[2014-06-05 16:29] stevieflow commented on #93
In terms of code-examples, I just need to confirm whether our best practice would be to:

a) keep as is (where period-start = period-end): http://iatistandard.org/activity-standard/iati-activities/iati-activity/planned-disbursement/
b) provide a second example whereby there is a date range
c) add example with _only_ `period-start`
d) add text to explain the above

@Bjwebb is option c) invalid?

@b

[2014-06-05 16:31] stevieflow commented on #144
closing, and adding into #38

[2014-06-05 16:31] #144 closed, assigned to Bjwebb

[2014-06-05 16:31] bill-anderson commented on #104
Tables are good. Would be useful to show a fully worked-out 1.03 example and show how it maps in 1.04

[2014-06-05 16:33] #143 closed, assigned to stevieflow

[2014-06-05 16:33] bill-anderson commented on #93
I don't like period-start = period-end
I favour doing b) and c)

[2014-06-05 16:35] stevieflow commented on #38
Moving this into https://github.com/IATI/IATI-Guidance/issues/38

[2014-06-05 16:35] #38 closed, assigned to bill-anderson

[2014-06-05 16:42] bill-anderson commented on #87
I agree on budgets and activity

Transactions I sort of agree. But don't feel strongly either way.

[2014-06-05 16:45] bill-anderson commented on #116
The guidance says that if significance="0" then the element should not be reported. So it is correct that it isn't included in the example.

So ok to close

[2014-06-05 16:50] stevieflow commented on #87
@bill-anderson thanks

Just to clarify - is it `activity-date` you dont feel strongly about?

[2014-06-05 16:51] bill-anderson commented on #87
Oops. No transactions

[2014-06-05 16:52] bill-anderson commented on #113
I think it does need an explanation beyond the definition (which will improve in 2.01) - and a worked example

[2014-06-05 16:58] Bjwebb commented on #93
Option c) is not invalid against the schema, no.

[2014-06-05 17:01] stevieflow commented on #93
@bill-anderson ok, will do

@Bjwebb wat?  Do you mean option c is valid against the schema ?

[2014-06-05 17:03] stevieflow commented on #113
Pushing into the June tidyup milestone therefore

[2014-06-05 17:03] Bjwebb commented on #93
Yes, option c is valid against the schema. Since we do not enforce ordering, it could not possibly be invalid against the schema, even if it was incorrect.

[2014-06-05 17:03] stevieflow commented on #87
ok

[2014-06-05 17:04] stevieflow commented on #116
Thanks

[2014-06-05 17:04] #116 closed, assigned to bill-anderson

[2014-06-05 17:06] stevieflow commented on #104
We can provide worked out examples via Example XML files.

The next task is to get this into rst - @Bjwebb any ideas (although it does need a further proof)

Also - I'd imagine that some publishers will want a PDF type version

[2014-06-05 17:08] Bjwebb commented on #104
@stevieflow Google Doc -> RST is fairly easy for me to do once it's ready.

Generating PDFs from RST is also possible, and might be something we want to look into more generally https://github.com/IATI/IATI-Standard-SSOT/issues/15

[2014-06-05 17:10] Bjwebb commented on #134
I renamed these files in https://github.com/IATI/IATI-Extra-Documentation/commit/50d0471524064b4e2ca348aa47afd91a9b538d1a

[2014-06-05 17:12] #134 closed, assigned to stevieflow

[2014-06-05 17:15] stevieflow commented on #117
Have moved this to Guidance repo: https://github.com/IATI/IATI-Guidance/issues/39

[2014-06-05 17:15] #117 closed, assigned to bill-anderson

[2014-06-05 17:17] stevieflow commented on #111
Now in https://github.com/IATI/IATI-Guidance/issues/40

[2014-06-05 17:17] #111 closed, assigned to nobody

[2014-06-05 17:19] stevieflow commented on #34
Closing, as this is now in Guidance repo: https://github.com/IATI/IATI-Guidance/issues/41

[2014-06-05 17:19] #34 closed, assigned to bill-anderson

[2014-06-05 17:21] stevieflow commented on #33
Moved to https://github.com/IATI/IATI-Guidance/issues/42

[2014-06-05 17:21] #33 closed, assigned to bill-anderson

[2014-06-05 17:23] stevieflow opened #153 "Overview page: The standard"
Started in https://github.com/IATI/IATI-Guidance/issues/6

[2014-06-05 17:24] stevieflow opened #154 "Overview page: Code list, schema and rulesets"
Intro around these

[2014-06-05 17:25] stevieflow opened #155 "Overview page: The org and activity standards"
Page to explain the differences between the two

And to highlight that the documentation includes  Overview & Reference pages

[2014-06-05 17:28] stevieflow opened #156 "Standard Ruleset overview table"
Page that publishes this: https://gist.github.com/Bjwebb/9952268

[2014-06-05 17:29] Bjwebb commented on #156
Note that a similar page already exists, but is not linked to: http://iatistandard.org/ruleset/

[2014-06-05 17:29] stevieflow opened #157 "Description of rules"
Page(s) that provide plain English for each Standard rule - and link through to relevant overview / reference page

[2014-06-05 17:30] stevieflow commented on #156
Ah OK  - Im just putting in a couple of Issues to build upon it.  Would we want to have this as a main section?

[2014-06-05 17:31] stevieflow opened #158 "Overview page: Rulesets"
Intro to rulesets and their role

[2014-06-09 15:40] stevieflow commented on #87
I've adjusted the code examples accordingly, and made a pull reqest: https://github.com/IATI/IATI-Extra-Documentation/issues/159

[2014-06-09 15:40] #87 closed, assigned to nobody

[2014-06-09 15:42] stevieflow commented on #104
@Bjwebb within which repo is it best to include this document?

[2014-06-09 15:43] stevieflow commented on #146
Assigning to @bill-anderson

[2014-06-09 15:50] markbrough commented on #146
This looks good to me!

[2014-06-09 16:07] stevieflow opened #160 "code-example for legacy-data"
@bill-anderson what would make a meaningful example for `legacy-data`?

Only two publishers currently use it: http://dashboard.iatistandard.org/element/iati-activity_legacy-data_@iati-equivalent.html

Only one of those (DFID) use the `iati-equivalent` attribute:

`<legacy-data name="14010 Water Resources Policy and Administrative Management, (MDG Water and Sanitation)" value="14010" iati-equivalen

[2014-06-09 16:08] stevieflow commented on #113
Closing, as now covered in #160 - getting a code-example up might be the best first step (rather than a whole overview page).

If needed, we can come back to this

[2014-06-09 16:08] #113 closed, assigned to stevieflow

[2014-06-09 16:17] Bjwebb commented on #160
It's worth pointing out that I think DFID's usage is incorrect - http://data.tickets.iatistandard.org/ticket/195

[2014-06-09 16:42] stevieflow commented on #87
I've also added free text for a code-example for `planned-disbursement`: https://github.com/IATI/IATI-Extra-Documentation/issues/87#ref-commit-701e10d

[2014-06-09 16:43] stevieflow commented on #93
I've changed the code example as per discussion.

Have also added a text to describe the date, as per #87

[2014-06-09 16:43] #93 closed, assigned to stevieflow

[2014-06-09 16:55] bill-anderson commented on #160
@name should be the name of the field in their legacy system - not the name of the value

[2014-06-09 16:58] bill-anderson commented on #160
@Bjwebb example is good

in DFID's case ...

[code]

[2014-06-09 17:09] bill-anderson commented on #146
Ditto

[2014-06-09 18:47] #146 closed, assigned to stevieflow

[2014-06-09 18:49] stevieflow commented on #160
@bill-anderson @Bjwebb is `sector` a good example for `legacy-data` though ?  Because - the IATI sector defaults to CRS Sector anyway..?

[2014-06-10 07:29] bill-anderson commented on #160
Agree it looks confusing. The name should in fact be "CRS Sector Code (incl. Legacy values)". The reason for DFID using it is that some of their older projects use codes that no longer exist (because CRS does not understand deprecation and deletes codes that are still in use.)

[2014-06-10 09:19] stevieflow commented on #160
Thanks

@bill-anderson in the above example, would it therefore be expected that a `legacy-data` element is published for all `sector` values within that `iati-activity`, or just those that are no longer on the DAC list?

[2014-06-10 09:22] bill-anderson commented on #160
I would recommend only when required. I think DFID does it for all which is confusing. They should have logic which says: if sector code not in current code list then recalculate sector code and add legacy data

[2014-06-10 11:42] stevieflow commented on #160
Have created an initial code-example for this: https://github.com/IATI/IATI-Extra-Documentation/commit/291dab268edac12aa23a7ada836cb129d3cbb64a

Have pushed Guidance on this into: https://github.com/IATI/IATI-Guidance/issues/21

[2014-06-10 11:42] #160 closed, assigned to bill-anderson

[2014-06-10 15:43] stevieflow commented on #104
I've done more editing on https://docs.google.com/document/d/1I2zoe-_s75kwDKSkU8BRhAZiTy-Fn2FTiaW4BQFUzus/edit# and have also included a table comparing the XML

Suggest that we get this around to some relevant people (eg @rolfkleef and @johnadamsDFID) to check through

[2014-06-13 09:33] stevieflow commented on #104
Update: The draft has had more editing and review: https://docs.google.com/document/d/1I2zoe-_s75kwDKSkU8BRhAZiTy-Fn2FTiaW4BQFUzus/edit?disco=AAAAAJpqKps# (this document is also opened for comments btw)

[2014-06-13 09:50] stevieflow commented on #158
@Bjwebb Im doing this - but wanted to ask if Rulesets would have their own "section" too?

[2014-06-13 10:35] Bjwebb commented on #158
I think they probably should, but I'm happy to be convinced otherwise.

[2014-06-13 10:37] stevieflow commented on #153
@bill-anderson @iatisupport

Some progress on this via the two docs below.  Still not 100% and needs reviewing/refining - but please take a read through

These are two documents to a) introduce "the standard" and b) chart "expectations" around publishing (that are not described within "the standard"!

IATI Standard section: overview page: https://github.com/IATI/IATI-Extra-Documentation/commit/f4f

[2014-06-13 10:41] stevieflow commented on #158
In the overview section, I'll talk about them (for now) within the page for schema - in terms of a means to "validate" data.  Perhaps we could nest schema and rules within the same section, although a bad knock-on could be change of URLs (not a good idea)

[2014-06-13 10:46] Bjwebb commented on #158
Sphinx will let you nest sections in the navigation, but not in terms of urls, btw. We already make use of this in fact: http://iatistandard.org/activity-standard/iati-activities/ has Reference in the navigation but not in the url.

If we have a section about validating data, should it contain something about validating against codelists?

[2014-06-13 11:10] stevieflow opened #162 "Review: Schema page - intro text"
@Bjwebb where is this text managed?

(via http://iatistandard.org/schema/)

It might be useful to review this

[2014-06-13 11:12] stevieflow commented on #162
Ah sorry - it's here: https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/schema.rst !

[2014-06-13 11:13] stevieflow opened #163 "Review: code list intro text"
Here: https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/codelists.rst

[2014-06-13 11:34] stevieflow commented on #142
@Bjwebb what rst formatting would you recommend we deploy to create an "alert" type box on these pages - to briefly describe the two sub-sections?  A table?

[2014-06-13 11:37] stevieflow opened #164 "Overview page: Upgrade processes"
Page in the Standard overview section to highlight (and link to) the Upgrade process.

NB: This might be subsumed into a more general page in later iterations

[2014-06-13 11:39] stevieflow opened #165 "Overview page: guidance materials"
Overview page to talk about how guidance materials are distinct and different from the "core documentation" about the standard.

Will need review and careful thought - but will start in this milestone

[2014-06-16 13:51] Bjwebb commented on #80
Implemented here https://github.com/IATI/IATI-Guidance/blob/master/en/upgrades/decimal-upgrade-to-2-01/2-01-changes.rst#codelist-changes

[2014-06-16 13:51] #80 closed, assigned to nobody

[2014-06-16 14:25] johnadamsDFID commented on #160
Thanks all for the helpful examples etc. This is much useful, although low priority for now.

[2014-06-16 15:33] Bjwebb commented on #39
BTW, I created a whitelist for identifiers, which is now included in the 2.01 proposal: http://support.iatistandard.org/entries/56799133-Version-2-01-Iteration-1-1-Strengthening-the-Core-of-the-Standard

Are there any remaining tasks on this issue?

[2014-06-16 16:42] Bjwebb commented on #142
Not sure what you mean by "alert" type box. One to discuss I think.

[2014-06-17 10:56] Bjwebb commented on #142
Alert type boxes are possible, but I don't think it's worth the effort here. Maybe move the contents section (e.g. at the bottom of http://iatistandard.org/activity-standard/) to the top and add your explanatory text in there?

[2014-06-17 12:03] stevieflow opened #166 "IATIStandard homepage"
Consider how some of the overview text can in fact help shape the homepage

[2014-06-19 12:10] stevieflow opened #167 "Review dates and text on Org budgets"
eg example-code on:

http://iatistandard.org/organisation-standard/iati-organisations/iati-organisation/total-budget/

@bill-anderson
- The `value-date` should always be in the past?  And - when presenting three budgets, we'd expect that this would be the same date?
- Do we need better text examples - whereby people can annotate ?

[2014-06-24 15:58] stevieflow opened #168 "budgets - multiple values and periods"
Add note to Overview and example-code to state that only single values and periods should be added to each budget element

From: https://github.com/IATI/IATI-Schemas/issues/121

[2014-06-26 09:35] stevieflow opened #169 "Make intention of language element clearer"
http://iatistandard.org/activity-standard/iati-activities/iati-activity/document-link/language/ - state clearly that this is about the language of the document (rather than any string in the XML)

[2014-06-26 09:42] Bjwebb commented on #169
Not entirely relevant, but the schema definition for this element is improved in 2.01: https://github.com/IATI/IATI-Schemas/blob/version-2.01/iati-common.xsd#L178

[2014-06-26 13:22] stevieflow commented on #169
Also fix: the xm;lang for fr is missing from the code example for `title`: http://iatistandard.org/activity-standard/iati-activities/iati-activity/document-link/

[2014-06-26 16:10] stevieflow commented on #169
Also: update overview pages to state that multiple titles for the same doc can be presented, regardless of the destination document language (!)

[2014-06-26 16:12] stevieflow commented on #169
fixed in https://github.com/IATI/IATI-Extra-Documentation/commit/fa0c607584424b59c8d4a88361df57e08b9989ce

[2014-06-26 16:12] #169 closed, assigned to nobody

[2014-06-26 16:28] stevieflow commented on #168
done : https://github.com/IATI/IATI-Extra-Documentation/commit/4bb37535409321cf8dfd119e5ab5e7a55b48c6b3

[2014-06-26 16:28] #168 closed, assigned to nobody

[2014-06-26 16:28] stevieflow commented on #167
@bill-anderson

[2014-06-26 16:44] bill-anderson commented on #167
The value-date should always be in the past?
Yes

And - when presenting three budgets, we'd expect that this would be the same date?
Not necessarily

Do we need better text examples - whereby people can annotate ?
Not sure what you mean. I would take out /text()

[2014-06-26 19:32] stevieflow commented on #167
Thanks - made sure all value-dates are in the past, and removed /text() from examples

Added line to both activity and org budget overview pages about value-date in the "past"

 in https://github.com/IATI/IATI-Extra-Documentation/commit/cdbd93f9534ea78fb3399be7e0273c008bcde76a

[2014-06-26 19:32] #167 closed, assigned to bill-anderson

[2014-06-26 21:49] #39 closed, assigned to nobody

[2014-06-26 21:54] Bjwebb opened #171 "Ensure documentation is updated to say that xsd:date/xsd:datetime is required"
http://support.iatistandard.org/entries/77542148-Date-and-DateTime-formats

[2014-06-26 22:17] Bjwebb commented on #171
As part of this, we need to ensure that we have a sufficiently good description of what xsd:date and xsd:dateTime are.

[2014-06-27 16:02] stevieflow opened #173 "Fix Example XML"
Via edits, it appears that these are invalid!

[2014-06-27 16:20] Bjwebb opened #174 "Set up travis to validate example XML"
(once they are valid again https://github.com/IATI/IATI-Extra-Documentation/issues/173 )

[2014-06-27 16:29] stevieflow commented on #173
have spotted an extra > and an extra closed planned-dibursement element

[2014-06-27 16:38] stevieflow commented on #173
Fixed.

@Bjwebb to rebuild these changes to live

[2014-06-27 16:38] #173 closed, assigned to stevieflow

[2014-06-30 13:24] #174 closed, assigned to Bjwebb

[2014-07-02 10:37] ghost opened #175 "Formatting - Organisation identifiers : Two Components"
http://iatistandard.org/organisation-identifiers/

The formatting of 1 and 2 just above

[2014-07-02 10:39] ghost opened #176 "Activity Standard: Definition"
http://iatistandard.org/activity-standard/

Suggest changing third paragraph

 to say "It is expected that every organisation publishing IATI data should include AT LEAST ONE activity file."

[2014-07-02 10:40] ghost opened #177 "Activity Standard: Considerations"
http://iatistandard.org/activity-standard/

Bullet point one, name description and identifier all link to same place, which is fine, but perhaps just include a link at the end to make it less complicated

[2014-07-02 10:53] ghost opened #178 "Activity Standard/Overview/Activity File - Considerations, bullet point 4- link to "well formed""
http://iatistandard.org/activity-standard/overview/activity-file/

Suggest linking to the validation tool or a link through to more detail about what "well formed" XML is, e.g. for more information see XYZ. It is already linked in further guidance, but it would make more sense to include in the bullet point.

[2014-07-02 10:55] ghost opened #179 "Activity Standard/Overview/Activity File - Considerations, bullet point 5"
Suggest linking through to the schema page

http://iatistandard.org/activity-standard/overview/activity-file/

[2014-07-02 10:57] ghost opened #180 "Activity Standard/Overview/Activity Dates"
http://iatistandard.org/activity-standard/overview/dates/

The definition section is unclear, suggest numbering or bulleting

[2014-07-02 10:59] ghost opened #181 "Activity Standard/Overview/Result"
http://iatistandard.org/activity-standard/overview/result/

In the definition suggest the bullet point is changed to say

[2014-07-02 11:05] ghost opened #182 "Activity Standard/Overview/Related Documents"
http://iatistandard.org/activity-standard/overview/linked-documents/

Bullet point 8 of the considerations, unless i've misunderstood the codelist, for the activity standard, the prefix should be A and not B.

[2014-07-02 11:07] ghost opened #183 "Activity Standard/Overview/CRS and FSS"
http://iatistandard.org/activity-standard/overview/crs-fss/

Suggest including
a) examples of the kind of extra information that is being referred to

b) perhaps a disclaimer at the top about the fact this is only relevant to organisations that report CRs and FSS

[2014-07-02 11:08] ghost opened #184 "Activity Standard/Overview/Conditions - Wrong Title"
This section is wrongly titled in both the side bar and the top of the web page as

http://iatistandard.org/activity-standard/overview/conditions/

[2014-07-02 11:09] ghost opened #185 "Activity Standard/Overview/Conditions - include "human" definition"
It might be useful to define what "conditions" means. Though it is easily understandable to organisations who use conditions, those who don't might be confused by it.

http://iatistandard.org/activity-standard/overview/conditions/

[2014-07-02 11:11] ghost opened #186 "Organisation Standard/Overview/Organisation file - Bullet 4 - link to "well formed""
http://iatistandard.org/organisation-standard/overview/organisation-file/

Considerations bullet point 4, I think we should link to the validation tool or a link through to more detail about what "well formed" XML is, e.g. for more information see XYZ. It is already linked in further guidance, but it would make more sense to include in the bullet point.

[2014-07-02 11:11] ghost opened #187 "Organisation Standard/Overview/Organisation file - Bullet 5"
http://iatistandard.org/organisation-standard/overview/organisation-file/

Bullet point 5, link to schema overview page

[2014-07-02 11:28] ghost opened #188 "Codelists - include links to other providers of codelists"
Last paragraph in introductory section, would be good to link through to ISO, DAC CRS etc.

http://iatistandard.org/codelists/

[2014-07-02 11:29] ghost opened #189 "Codelists/Codelist Management"
Paragraph starting "a summary of all changes" - is there somewhere to link to where the sumary of changes will be posted? Or to the github repository? Recommend including those links

http://iatistandard.org/codelists/codelist-management/

[2014-07-02 11:30] ghost opened #190 "Codelists/Codelist API - include links"
http://iatistandard.org/codelists/codelist-api/

First Paragraph under endpoints, the language

is slightly negative, and could be changed to

[2014-07-02 17:43] Bjwebb commented on #181
Note that this sentence is based on the [definition in the schema](https://github.com/IATI/IATI-Schemas/blob/version-1.04/iati-activities-schema.xsd#L1309).

The schema definition is [being changed in 2.01](https://github.com/IATI/IATI-Schemas/blob/bd94fa88d5bcbce53463bfcca36e5a0b603b1081/iati-activities-schema.xsd#L1695) to read:

This should probably form the basis of an updated overview page.

[2014-07-02 17:44] Bjwebb commented on #177
"name, description" and "identifier" link to two different places.

[2014-07-02 17:48] Bjwebb commented on #189
I think the summary of changes is currently missing, and needs to be added (and then linked to).

I think the relevant link for the GitHub repository links is https://github.com/IATI/IATI-Codelists-NonEmbedded/commits/master

[2014-07-03 10:43] stevieflow commented on #184
Good spot: https://github.com/IATI/IATI-Extra-Documentation/commit/215a2bea4c10a0c7466adf9692e56fc777fded9b

[2014-07-03 10:43] #184 closed, assigned to stevieflow

[2014-07-03 11:10] #175 closed, assigned to nobody

[2014-07-03 19:30] Bjwebb opened #191 "Elaborate/clarify the labels Current and New"
Split out from https://github.com/IATI/IATI-Codelists/issues/38

[2014-07-04 10:30] stevieflow opened #192 "Rename Reference/ Reference to Reference/Elements"
To avoid duplication / confusion

[2014-07-04 10:30] #192 closed, assigned to stevieflow

[2014-07-04 10:31] Bjwebb commented on #192
This is part of our wider navigation changes https://github.com/IATI/IATI-Websites/issues/119

[2014-07-15 16:07] stevieflow opened #193 "Example XML for version 2.01"
- [x] Org Standard
- [x] Activity Standard

[2014-07-15 16:15] stevieflow opened #194 "Organisation standard / budget-line - question"
http://dev.iatistandard.org/201/organisation-standard/iati-organisations/iati-organisation/total-budget/budget-line/

Should budget-line value(s) sum the parent total-budget / recipient-country-budget / recipient-org-budget value?

[2014-07-15 16:29] stevieflow opened #195 "Activity Standard - Other Identifier - owner-name"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/other-identifier/

Should owner-name be treated as narrative, rather than am attribute, in line with language changes for 2.01?

This way, other names can be provided....

[2014-07-15 16:49] stevieflow opened #196 "contact-info / website"
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/contact-info/website/

This might need slight review - in light of discussions around activity-website
- Should this element have the URL as an attribute?
- Should narrative be used ?

[2014-07-28 08:43] stevieflow commented on #164
http://iatistandard.org/introduction/upgrade-processes/

[2014-07-28 08:43] #164 closed, assigned to stevieflow

[2014-07-28 08:44] stevieflow commented on #155
http://iatistandard.org/introduction/standards/

[2014-07-28 08:44] #155 closed, assigned to nobody

[2014-07-28 08:45] stevieflow opened #197 "Rulesets documentation"
Page / section about Rulesets, including detail on Standard Rulesets

[2014-07-28 08:45] stevieflow commented on #154
http://iatistandard.org/introduction/codelists-schema/

ToDo - rulesets : #197

[2014-07-28 08:45] #154 closed, assigned to nobody

[2014-07-28 08:52] stevieflow commented on #189
@iatisupport might be interested in this - re: changelog

[2014-07-28 09:20] Bjwebb commented on #193
[David has fixed](https://github.com/IATI/IATI-Extra-Documentation/commit/a6c0981a9e40f19220c50e8ed2083a6277b938ef) `activity-standard-example-annotated.xml`, but note that `activity-standard-example-annotated-multi.xml` and `organisation-standard-example-annotated.xml` are currently invalid against the 2.01 schema.

https://travis-ci.org/IATI/IATI-Extra-Documentation/builds/31024495

[2014-07-28 09:30] caprenter commented on #193
..and I only fixed activity-standard-example-annotated.xml so that it would validate against the schema, it is not necessarily complete as an example.

[2014-07-28 11:20] stevieflow commented on #190
Changed to "From May 2014, these are now under in-house control at IATI."

[2014-07-28 11:20] #190 closed, assigned to stevieflow

[2014-07-28 11:38] stevieflow commented on #163
I've updated this text:
- remove duplication of terms
- highlighted what to expect within the section

[2014-07-28 11:38] #163 closed, assigned to stevieflow

[2014-07-28 11:41] stevieflow commented on #188
I've removed this from the specific text on this page - as it is not entirely relevant, nor up to date

However - @bjwebb - would we want to maintain an auto-generated page that lists each codelist plus the embedded status, and which element is applicable (like the Overview tables for the standards)?

[2014-07-28 11:42] stevieflow opened #198 "Codelist section - duplicate pages listed"
On the left hand navigation within the Codelist section the Codelist management and API pages seem to be list at both the top and bottom of the list of page:

http://iatistandard.org/codelists/

[2014-07-28 11:46] stevieflow commented on #191
@Bjwebb Would this be on the general Codelist page?  And / or - would it be listed in the overview pages mentioned in https://github.com/IATI/IATI-Extra-Documentation/issues/188#issuecomment-50328124 ?

[2014-07-28 11:50] #179 closed, assigned to stevieflow

[2014-07-28 11:50] #187 closed, assigned to stevieflow

[2014-07-28 11:52] stevieflow opened #199 "Define "well formed""
Provide text for this - and link to via #186 #178

[2014-07-28 11:56] stevieflow commented on #176
Have done so.  For now, Ive removed the text around updated at least annually, as we need more robust guidance on this.

[2014-07-28 11:56] #176 closed, assigned to stevieflow

[2014-07-28 12:00] stevieflow commented on #180
Yes.  Have tried to rephrase: https://github.com/IATI/IATI-Extra-Documentation/commit/340590882918c66749e6325b5d49dcbc12b4f16c

[2014-07-28 12:00] #180 closed, assigned to stevieflow

[2014-07-28 12:03] stevieflow commented on #182
Good spot.  Thanks @izzirbucknall

[2014-07-28 12:03] #182 closed, assigned to stevieflow

[2014-07-28 12:06] stevieflow commented on #181
thanks - have changed to
- `result` - a container for reporting outputs, outcomes, impacts and other results that stem directly from the `iati-activity`.

[2014-07-28 12:06] #181 closed, assigned to stevieflow

[2014-07-28 12:07] stevieflow commented on #165
Closing this Issue, as we now have: http://dev.iatistandard.org/introduction/guidance-materials/ (although granted this does not address the issue adequately)

[2014-07-28 12:07] #165 closed, assigned to stevieflow

[2014-07-28 12:08] Bjwebb commented on #188
@stevieflow We can do.

[2014-07-28 12:17] stevieflow opened #200 "Codelist overview table"
Name of codelist (links to relevant list)
Applicable Element(s)
Embedded status
New/Old ?

(as discussed in #188)

[2014-07-28 12:17] #188 closed, assigned to stevieflow

[2014-07-28 12:31] stevieflow commented on #162
@Bjwebb @caprenter I've made an attempt to update this page (it has not really changed in the past years).

Whilst I havent removed anything, I would appreciate any feedback:

https://github.com/IATI/IATI-Extra-Documentation/blob/4a6b43d5967f2d7cd6a63b0d2e5d2eee2e964ee0/en/schema.rst

Also - is it possible / advisable / useful for us to provide a zipped download of all schema (and CHANGES.txt)?

[2014-07-28 13:07] Bjwebb commented on #162
Like https://github.com/IATI/IATI-Schemas/archive/v1.04.zip ?

[2014-07-28 13:36] stevieflow commented on #162
Yes - although this contains more files than listed on /schema - should we also update /schema accordingly?

[2014-07-28 13:40] #142 closed, assigned to stevieflow

[2014-07-28 13:44] stevieflow commented on #177
Ive split these into different lines.  Also - done the same for the Org section

[2014-07-28 13:44] #177 closed, assigned to stevieflow

[2014-07-28 14:01] stevieflow commented on #131
I've:
- merged the `iati-identifier` overview page into the `iati-organisation` content.
- given `iati-organisation` and `organisations` pages more friendly titles, to help clarify.

I think this addresses the original issue

[2014-07-28 14:01] #131 closed, assigned to stevieflow

[2014-07-28 14:04] stevieflow commented on #183
Have added

Please note there is an outstanding Issue (#115) for @bill-anderson in relation to this page

[2014-07-28 14:04] #183 closed, assigned to stevieflow

[2014-07-28 14:06] stevieflow commented on #105
moving this into #95

[2014-07-28 14:06] #105 closed, assigned to stevieflow

[2014-07-28 14:06] stevieflow commented on #95
From #105
- [ ] bolean examples are 1/0 (rather than true/false)
- [ ] min/multi example XML files - differences between
- [ ] reference to the standards in *\* bold italics**

[2014-07-28 14:09] stevieflow commented on #185
I'd agree - although there is no description within the schema itself, as far as I know

This might be more a Guidance issue than Extra-Docs, so closing this for now , with https://github.com/IATI/IATI-Guidance/issues/115 the issue to work on

[2014-07-28 14:09] #185 closed, assigned to stevieflow

[2014-07-28 14:13] Bjwebb commented on #185
Note that in 2.01 the [schema definition](https://github.com/IATI/IATI-Schemas/blob/version-2.01/iati-activities-schema.xsd) becomes:

[code]

Which is still not much of a description, but is more than what is there currently.

[2014-07-28 14:13] stevieflow commented on #166
@Bjwebb where is the content for the iatistandard homepage administered?

[2014-07-28 14:15] Bjwebb commented on #166
https://github.com/IATI/IATI-Websites/blob/master/iatistandard/_templates/layout_base.html#L207
https://github.com/IATI/IATI-Websites/blob/master/iatistandard/_templates/layout_base.html#L252

[2014-07-28 14:45] stevieflow commented on #153
This now lives in https://github.com/IATI/IATI-Guidance/tree/master/en - Ill move the content over in the new iteration/branch: https://github.com/IATI/IATI-Guidance/tree/SF-tidy-up-July/en

[2014-07-28 14:45] #153 closed, assigned to stevieflow

[2014-07-28 15:15] stevieflow commented on #157
@Bjwebb would you be able to create a page into this repository from this: https://gist.github.com/Bjwebb/9952268 ?

[2014-07-28 15:16] stevieflow commented on #157
Hold on - this seems to be a duplicate of #156

[2014-07-29 15:47] stevieflow commented on #197
Ive started this and pushed a commit - so this Issue can be closed

[2014-07-29 15:47] #197 closed, assigned to nobody

[2014-07-30 07:45] stevieflow opened #202 "Fix legacy-data example"
In the example XML, this example is duplicated

[2014-07-30 07:46] #202 closed, assigned to stevieflow

[2014-07-31 10:09] caprenter commented on #145
Assigning to Steven as he will be able to sort out where the guidance should go on the website, in any how to upgrade/migrate documents and perhaps elsewhere throughout the IATI architecture.

[2014-07-31 10:11] caprenter commented on #16
@bill-anderson Just a nudge on this. What is the action to resolve this now please?

[2014-07-31 10:16] caprenter commented on #67
@bill-anderson As we stand this whole issue needs some clarification as to the actions we actually need to take in the light of community feedback on the proposal. Therefore assigning this issue to you for now.

[2014-07-31 10:56] stevieflow commented on #171
Does/could this also apply to 1.04 documentation @Bjwebb ?

[2014-07-31 11:02] stevieflow commented on #193
I think  `activity-standard-example-annotated-multi.xml` can now be removed - but will check.

Ill check the org one too

[2014-07-31 11:23] Bjwebb commented on #171
In 1.04 it is not clear. I would stick to doing this for 2.01

[2014-08-05 09:42] stevieflow opened #204 "Include example that mixes recipient-country and recipient-country in 2.01"
Also - update overview page(s)

[2014-08-05 15:51] stevieflow opened #205 "Location - clarifiying use of location-id and administrative"
From guidance note: https://docs.google.com/document/d/1I2zoe-_s75kwDKSkU8BRhAZiTy-Fn2FTiaW4BQFUzus/edit#

`location-id`:

From @rolfkleef:

Note from @owenscott:

Suggestion from @owenscott:

---

Schema description changes may therefore be needed @Bjwebb @bill-anderson

[2014-08-05 15:55] stevieflow opened #206 "Location - clarify that multiple administrative elements can be used"
... from different vocabs, etc.

As per example provided by @owenscott

`<!-GADM Administrative Areas->
<administrative vocabulary="GADM" level="1" code="8">Shinyanga</administrative>
<administrative vocabulary="GADM" level="2" code="36">Kigoma Urban</administrative>
<administrative vocabulary="GADM" level="3" code="771">Kigoma Bangwe</administrative>
<!-GAUL Administrative Areas->
<administrative

[2014-08-05 15:58] stevieflow commented on #104
Update:

All comments resolved in:

https://docs.google.com/document/d/1I2zoe-_s75kwDKSkU8BRhAZiTy-Fn2FTiaW4BQFUzus/edit#

Plus, overview table also at:

https://docs.google.com/spreadsheets/d/1lr1sKwxCKKER4_eDTK254ivAOtpDCqh4k7Ki-y1XZn4/edit#gid=0

@Bjwebb how best to now convert/include this in iatistandard, etc?

[2014-08-06 11:18] Bjwebb commented on #104
Just converted it to reStructuredText - https://gist.github.com/Bjwebb/d3c7ed1b9330d9833077 . @stevieflow we should review this together and then push it into the Guidance repository at the appropriate location.

Note that the conversion ended up being a much more manual process than I hoped, because pandoc doesn't support tables very well. If anyone knows a better way of converting google docs wi

[2014-08-06 11:41] stevieflow commented on #104
@Bjwebb nice, thanks

Could you also convert : https://docs.google.com/spreadsheets/d/1lr1sKwxCKKER4_eDTK254ivAOtpDCqh4k7Ki-y1XZn4/edit#gid=0 ?

[2014-08-06 11:55] Bjwebb commented on #104
@stevieflow That table relies on a lot of formatting (controlling table borders and filling cells with colours) that reStructuredText doesn't directly support. The information needs restructuring, or including in the website some other way (raw html is possible, but I'd rather avoid it). One for us to discuss, I think.

[2014-08-06 11:59] stevieflow commented on #104
OK great, thanks.

I'll try and take some formatting out initially

Sent with my thumbs...
On 6 Aug 2014 13:55, "Ben Webb" notifications@github.com wrote:

[2014-08-06 12:31] Bjwebb commented on #162
Possibly. Also worth considering whether https://github.com/IATI/IATI-Schemas/blob/version-1.04/README.txt needs updating.

[2014-08-06 14:42] stevieflow commented on #104
Discussed with @Bjwebb - we can link to the GDoc initially, but will also try and include the table in the main doc

[2014-08-07 12:55] stevieflow commented on #158
https://github.com/IATI/IATI-Extra-Documentation/pull/207

[2014-08-07 12:55] #158 closed, assigned to nobody

[2014-08-07 12:56] stevieflow commented on #157
This is partly in place via https://github.com/IATI/IATI-Extra-Documentation/pull/207

In discussion with @Bjwebb we agreed not to create a page for every single know rule type just yet - as this may not be clear

Moving to future milestone

[2014-08-07 12:57] stevieflow commented on #156
I have this via https://github.com/IATI/IATI-Extra-Documentation/pull/207

@Bjwebb may advise on a better way to include this however (as it is currently a copy and paste)

[2014-08-07 12:58] stevieflow commented on #73
Im wary that https://github.com/IATI/IATI-Extra-Documentation/pull/207 may still not cover this original issue...

[2014-08-11 12:19] Bjwebb commented on #73
Yes, I think that's probably correct. This original issue is about information from the 1.03 organisation documentation not being preserved in the 1.04 documentation. As far as I can tell this is still the case.

[2014-08-11 15:52] Bjwebb commented on #189
I've added and linked to a changelog in dev, but it's currently lacking in terms of explanation.

@stevieflow Could you write some text for this https://github.com/IATI/IATI-Guidance/blob/master/en/upgrades/nonembedded-codelist-changelog.rst

[2014-08-11 17:13] stevieflow commented on #189
Done that.  Also note that @Bjwebb has updated https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/codelists/codelist-management.rst with a link

[2014-08-11 17:13] #189 closed, assigned to stevieflow

[2014-08-11 17:47] Bjwebb commented on #156
I've implemented my better way to include this. http://dev.iatistandard.org/rulesets/standard-ruleset/

[2014-08-11 17:47] #156 closed, assigned to nobody

[2014-08-11 18:41] stevieflow commented on #73
Is this more about usage "0....1" type rules?

[2014-08-13 07:25] stevieflow commented on #206
The example-code could be updated

But - @bill-anderson  does the schema description need changing too?:

[2014-08-13 15:20] Bjwebb commented on #73
Yes.

[2014-08-14 10:43] bill-anderson commented on #206
Yes. Occurs should be 0..*

[2014-08-14 16:30] stevieflow commented on #104
This is now in dev http://dev.iatistandard.org/upgrades/decimal-upgrade-to-1-04/location-summary/ - to go live Monday 18th Aug

[2014-08-14 16:30] #104 closed, assigned to stevieflow

[2014-08-14 16:32] stevieflow commented on #16
@bill-anderson we have clarified that this is not the case with the current Registry.  Is this a proposal to add such rule/functionality to it?

[2014-08-14 16:34] stevieflow commented on #199
This has been "defined" in the Key Considerations section, but not linked to (#186 #178)

[2014-08-14 16:34] #199 closed, assigned to stevieflow

[2014-08-14 16:37] stevieflow opened #210 "Schema zip file & README.text"
As per: https://github.com/IATI/IATI-Extra-Documentation/issues/162#issuecomment-51327835

- [x] evaluate whether to add the zip file to /schema
- [x] evaluate / update the README file

[2014-08-14 16:37] stevieflow commented on #162
Closing this, as page is updated and #201 deals with other items

[2014-08-14 16:37] #162 closed, assigned to stevieflow

[2014-08-14 16:38] stevieflow commented on #166
moving to future iteration

[2014-08-14 16:49] stevieflow commented on #200
@Bjwebb thinking we push this into a dedicated codelist milestone?

[2014-08-14 16:54] #186 closed, assigned to stevieflow

[2014-08-14 16:54] #178 closed, assigned to stevieflow

[2014-08-14 16:57] stevieflow commented on #206
https://github.com/IATI/IATI-Schemas/issues/146 for schema change

Pushing Example XML update to future milestone

[2014-08-14 17:23] bill-anderson commented on #16
Spot on

[2014-08-14 17:36] stevieflow commented on #16
@bill-anderson I dont understand you.  You want this functionality built into the IATI CKAN?

[2014-08-14 18:22] bill-anderson commented on #16
Nope, the next generation

[2014-08-15 07:54] stevieflow opened #211 "1.05 Example XML"
Edit example XML according to 1.05
- [x] organisation XML
- [x] activity XML
- [x] activity XML (multi)

NB - the version and last-updates attributes will certainly need editing - even if 1.05 is codelist updates alone

[2014-08-15 07:55] stevieflow opened #212 "1.05 code-example & changelog updates"
Update change log on relevant pages in Extra-Docs, if applicable

Pages will be listed here, when finalised

[2014-08-15 07:56] stevieflow opened #213 "1.05 - website"
Setup site at dev.iatistandard.org/105 ?

@Bjwebb @caprenter @bill-anderson

[2014-08-15 16:07] stevieflow commented on #193
Have also removed the multi.xml: https://github.com/IATI/IATI-Extra-Documentation/commit/55b3a853d7ff080cfcc6c5d0ffd92d29fdf88073

[2014-08-15 16:07] #193 closed, assigned to stevieflow

[2014-08-18 09:17] Bjwebb commented on #199
This is definitely a "definition" and not an actual definition. The benefit of being well-formed is described, but without any definition of what it actually is...

[2014-08-26 12:42] caprenter opened #215 "Activity Status - Suspended"
On the support forum http://support.iatistandard.org/entries/43247528 we have an issue about this that says There is .. a need for new clear user guidance on:
- how to determine what is a current activity
- the omission of forward-looking budgets for suspended activities

and @bill-anderson has stated what that should be.

We need to work out where this goes in the guidance/extra documentation.

T

[2014-08-26 13:00] bill-anderson commented on #215
Guidance should explain that the default behaviour of changing the status of an activity (without making any other change relating to this 'suspension') will be:
- Current Activities
  - Users searching for current activities using activity-status=2 (Implementation) will NOT find this activity.
- Forward Looking Budgets
  - Users analysing forward looking budgets will continue to see budgets for t

[2014-09-01 12:38] caprenter commented on #215
@bill-anderson has completed this task for 1.05 in this commit:
https://github.com/IATI/IATI-Extra-Documentation/commit/0fe639d55b2611a2060a176c6b2bd4f54db8dd48

but we need to ensure this makes it into 2.01 as well

[2014-09-03 11:08] caprenter opened #216 "Update codelist API documentation for 1.05 (and subsequent versions)"
This page needs updating for both 1.05 and 2.01
https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/codelists/codelist-api.rst

[2014-09-03 11:36] Bjwebb commented on #215
Everything in 1.05 should be merged into 2.01.

[2014-09-03 13:23] caprenter opened #217 "Add guidance about the PolicySignificance codelist"
This is a 1.05 task, based on this issue:
https://github.com/IATI/IATI-Codelists-NonEmbedded/issues/19

[2014-09-03 14:18] caprenter commented on #213
Site is at dev.iatistandard.org

[2014-09-03 14:18] #213 closed, assigned to Bjwebb

[2014-09-03 15:49] stevieflow commented on #211
https://github.com/IATI/IATI-Extra-Documentation/blob/61c37818a788f82a39ae3f1bcf3c442c27ef6ef9/en/activity-standard/activity-standard-example-annotated-multi.xml

https://github.com/IATI/IATI-Extra-Documentation/blob/61c37818a788f82a39ae3f1bcf3c442c27ef6ef9/en/activity-standard/activity-standard-example-annotated.xml

https://github.com/IATI/IATI-Extra-Documentation/blob/61c37818a788f82a39ae3f1bcf

[2014-09-03 15:49] #211 closed, assigned to stevieflow

[2014-09-03 15:51] stevieflow commented on #212
Only element page to add a changelog statement would be `planned-disbursement`.

As this is just for the description text, Im unsure if this is worth adding currently, given that previous changelog statements on these pages have been centred on whether the element existing or not.

@caprenter @Bjwebb let me know

[2014-09-03 16:44] caprenter commented on #212
Key to this change is that previously a description did not exist, and now it does.

I think that's worth noting on the element page.

[2014-09-03 17:34] stevieflow commented on #212
OK - will do so , but also minded we discussed with @Bjwebb about how changelog statements could be added to relevant element (as well as codelist) pages - in a future iteration

[2014-09-03 17:51] stevieflow commented on #216
Im not exactly sure what is needed here

Are we to edit this to say that _from_ 1.04 (and therefore subsequent versions) the codelist API has changed, rather than write new/separate sections for 1.05/2.01 etc...?

[2014-09-03 17:52] Bjwebb commented on #216
@stevieflow I think you're right, and it seems @caprenter has already made a stab at this https://github.com/IATI/IATI-Extra-Documentation/pull/219/files

[2014-09-03 17:55] #212 closed, assigned to stevieflow

[2014-09-03 18:00] #217 closed, assigned to caprenter

[2014-09-04 11:01] caprenter commented on #216
Yes - done.

[2014-09-04 11:01] #216 closed, assigned to stevieflow

[2014-09-04 17:50] stevieflow opened #222 "Check code-examples vs text"
@Bjwebb has noticed some issues between the code example and the descriptive text (see below)

@stevieflow to run through these, and check for others

---

http://iatistandard.org/activity-standard/iati-activities/iati-activity/default-finance-type/

Example default-finance-type declaring the FinanceType code 100:

  <default-finance-type code="110" />

http://iatistandard.org/activity-standard/ia

[2014-09-08 11:43] Bjwebb opened #223 "Default language not declared?"
Looking at the example XML https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/activity-standard/activity-standard-example-annotated.xml where is `xml:lang="en"`?

I know that we can omit this if we have a default language declared, but that doesn't seem to be done either.

This is a problem in 1.04, 1.05 and 2.01.

[2014-09-08 11:43] Bjwebb opened #224 "Misaligned highlights in 2.01 documentation"
Since new lines have been added to the example XML, the highlights are no longer where they should be.

E.g. http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/transaction/

[2014-09-08 11:56] stevieflow commented on #223
good spot.  I can fix that across all three branches?

[2014-09-08 11:57] Bjwebb commented on #223
Fix it on the 1.04 branch, and I'll handle applying the fix to the other branches.

[2014-09-08 12:10] stevieflow commented on #223
ok - added

[2014-09-08 18:22] Bjwebb commented on #223
@stevieflow Does the multi file also need updating? https://github.com/IATI/IATI-Extra-Documentation/blob/version-1.04/en/activity-standard/activity-standard-example-annotated-multi.xml

[2014-09-08 20:08] stevieflow commented on #198
@Bjwebb

[2014-09-09 09:14] stevieflow commented on #223
Yes - I did this in https://github.com/IATI/IATI-Extra-Documentation/commit/3420357320914f8f968cba82d622f483c4ed487e

[2014-09-09 09:14] stevieflow commented on #223
Ive assigned to you to update for 1.05 and 2.01, but I can also do that ...

[2014-09-09 12:02] #223 closed, assigned to Bjwebb

[2014-09-09 12:03] #222 closed, assigned to stevieflow

[2014-09-09 15:35] stevieflow opened #226 "code-examples for org standard - 2.01"

[2014-09-09 15:35] stevieflow opened #227 "code-examples for activity standard 2.01"

[2014-09-09 15:36] stevieflow commented on #224
covering in #226 & #227

[2014-09-09 15:36] #224 closed, assigned to stevieflow

[2014-09-11 08:50] stevieflow opened #228 "2.01 - participating-org examples"
Adjust example XML and code-example markup, according to any change that may occur from  https://github.com/IATI/IATI-Codelists/issues/48

[2014-09-11 09:10] stevieflow opened #229 "2.01 - other-identifier"
According to outcome of proposals (http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers) and schema change, alter for `type` attribute:
- Example XML - activities
- code-example

[2014-09-11 09:45] stevieflow opened #230 "2.01 - activity-date"
Depending on outcome of https://github.com/IATI/IATI-Codelists/issues/48:
- adjust example XML (activity)
- modify code-example text

[2014-09-11 11:14] stevieflow opened #231 "2.01 - better country / region code-example"
slightly dependent on https://github.com/IATI/IATI-Schemas/issues/169 - but need better ways to illustrate:
- [x]  that countries and regions can be mixed
- [ ]  that country / region is not required when populated in all transactions

So far we just have examples of single and multiple country / region

[2014-09-11 11:27] stevieflow opened #232 "2.01 - better country/region - better narrative examples"
These examples are not in line with the rationale for keeping narrative in country/region:

single:

`<recipient-country code="CI">
            <narrative>Ivory Coast<narrative>
    </recipient-country>`

multi-lingual:

`<recipient-country code="CI">
            <narrative>Ivory Coast<narrative>
            <narrative>Côte-d'Ivoire<narrative>
    </recipient-country>`

This isnt the point of keep

[2014-09-11 11:28] bill-anderson commented on #232
Kosovo (UN text)

[2014-09-11 11:35] stevieflow commented on #232
We can ask @akerman

[2014-09-11 11:47] bill-anderson commented on #232
XK
Kosovo (As per UNSCR 1244)

[2014-09-11 13:01] stevieflow opened #233 "2.01 - definition of percentage split"
For country / region: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/recipient-country/

Sector: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/sector/

A) are these intentionally different?
B) What if there are no `transactions` of type Commitment - for country/region
C) What if there are no activity `budget`  (assuming it is that)

[2014-09-11 13:26] stevieflow commented on #232
@bill-anderson
How about for `Region`?

[2014-09-11 13:31] bill-anderson commented on #233
- A) are these intentionally different?
  No. How about. The percentage of total commitments or total activity budget ... (for both)
- B) What if there are no transactions of type Commitment - for country/region
- C) What if there are no activity budget (assuming it is that) - for sector
  It may happen that there is a valid pipeline project that already has a percentage split but budgets/commitme

[2014-09-11 13:33] bill-anderson commented on #232
No current examples. This was included because regions are geopolitical constructs and therefore political variations are theoretically possible

[2014-09-11 13:46] Akerman commented on #232
So if I'm understanding this right: you are removing the xml:lang attribute so now you are stuck with issues where text needs to accommodate multiple languages?

[2014-09-11 13:47] stevieflow commented on #233
Also: `budget-item`: http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/country-budget-items/budget-item/

Which budget is being referenced here?  (just want to check)

[2014-09-11 13:49] Akerman commented on #232
Also, as it pertains to the uses of region: How can we allow the standard to accommodate epidemiological boundaries as opposed to or in addition to geopolitical? WHO manages regional projects in this way and I'm sure others dealing with health and humanitarian crisis do too.

[2014-09-11 17:34] stevieflow opened #234 "2.01 planned-disbursement - end-date"
http://iatistandard.org/activity-standard/iati-activities/iati-activity/planned-disbursement/period-start/

The second example misses an end-date - but that doesnt look to be allowed in the schema description for period-end: http://iatistandard.org/activity-standard/iati-activities/iati-activity/planned-disbursement/period-end/

@bill-anderson
- does this need correcting in 1.0x ?
- is this applic

[2014-09-15 14:20] stevieflow opened #236 "Check date code-example text in relation to xs: date"
eg: http://www.datypic.com/sc/xsd/t-xsd_date.html

Do the code examples make this clear>?

[2014-09-16 08:14] stevieflow commented on #232
@Akerman thanks for the comments

My mistake on the omission of `xml:lang` in the above example.  I've currently got it as:

`<recipient-country code="CI">
        <narrative>Ivory Coast<narrative>
        <narrative xml:lang="fr">Côte-d'Ivoire<narrative>
    </recipient-country>`

The issue was to provide a more meaningful example in terms of a) freetext string and b) multi-lingual text

Hence, t

[2014-09-16 08:26] stevieflow opened #237 "Changelog notice on each element / codelist page"
Devise effective ways to use changelog on individual element/codelist pages.

Especially for:
- new elements for 2.01 - eg: `budget-line`
- existing elements that have been adapted: eg; the multiple `narrative` elements

@caprenter suggests we could situate some of this under a "How does this differ from versions 1.x?" banner...

[2014-09-16 08:36] stevieflow commented on #236
This also (via @caprenter): http://www.datypic.com/sc/xsd/t-xsd_date.html

[2014-09-16 08:46] stevieflow opened #238 "transaction / provider/receiver org - example-code text"
In 1.04 we have this example

`provider-org`:

- `reciver-org`:

Need to check these exceptions for loan and interest repayments - and find a better way to express this

[2014-09-16 09:16] bill-anderson commented on #238
We don't need "The full name of the organisation ..." do we? Is "The organisation ..." sufficient

[2014-09-16 09:47] stevieflow commented on #238
Ignore that - it is not applicable in 2.01 (as that is in `narrative`)

The main point of the issue was about the phrasing for how transactions of type loan/loan-repayments needs work

[2014-09-16 14:37] caprenter commented on #237
..because in effect 2.01 is a new version. Although it is built of 1.x, there are no changes in version 2 yet - there will be when we have version 2.02 say), so the changelog is empty, but it would be useful to say how it differs from version 1.x

[2014-09-16 15:52] Bjwebb commented on #237
@caprenter Surely changes in 2.01 over 1.0x belong in the changelog?

[2014-09-17 09:36] caprenter commented on #237
They surely do

[2014-09-17 10:25] caprenter opened #239 "Schema page needs update"
This page:
http://dev.iatistandard.org/201/schema/

needs an update about the 'other versions of the schema'
alerting @Bjwebb, but you may want to assign to @stevieflow

Probably needs similar for 1.05?

[2014-09-17 12:53] stevieflow opened #240 "Check through and update changelog"
On
- [x] org/elements
- [x] activity/elements
- [x] codelists

[2014-09-17 13:24] Bjwebb commented on #239
Is it just the "Previous schemas" section that needs updating?

[2014-09-17 13:59] caprenter commented on #239
Yes, I think that was all. Checking this page now, all seems fine, apart from spacing between header elements (similar to https://github.com/IATI/IATI-Websites/issues/127 ?)

[2014-09-17 14:12] #239 closed, assigned to Bjwebb

[2014-09-17 14:20] stevieflow commented on #196
Is this relevant still?

[2014-09-17 16:05] caprenter commented on #196
This element is designated as anyURI. I think it does the job. Doesn't need a narrative as we don't need to translate URI's and it doesn't need a description text.
@bill-anderson @Bjwebb agree?

[2014-09-18 09:45] Bjwebb commented on #196
I think if we think about this too hard, we start getting into activity-website territory, where we start asking whether we can have websites in different languages, and whether we want to be able specify that. However, I think this is much less important for a contact website than for the activity website, and I'm happy for the element to stay as it is.

[2014-09-18 09:54] stevieflow opened #243 "Change code-example referencing for attributes"
Instead of `code` use `@code`

Do whilst doing https://github.com/IATI/IATI-Extra-Documentation/issues/240

[2014-09-18 10:58] bill-anderson commented on #196
Agree

[2014-09-18 11:24] stevieflow opened #244 "document-link/language - multi language"
Adjust code-example to illustrate that more than one language can be declared for a single document

[2014-09-18 17:04] stevieflow opened #245 "Example XML - transaction"
Change order, depending of outcome of https://github.com/IATI/IATI-Schemas/issues/183

[2014-09-23 10:49] stevieflow commented on #237
have renamed this as a task to add the changelog for each element page

[2014-09-23 10:52] stevieflow commented on #237
Closing - as the actual task is in https://github.com/IATI/IATI-Extra-Documentation/issues/240

[2014-09-23 10:52] #237 closed, assigned to nobody

[2014-09-23 10:54] stevieflow commented on #238
Im closing this, as it is more about guidance that needs writing, at some point: https://github.com/IATI/IATI-Guidance/issues/143

[2014-09-23 10:54] #238 closed, assigned to nobody

[2014-09-23 11:01] stevieflow commented on #234
Updated Issue to be 2.01 specific

[2014-09-23 11:07] stevieflow commented on #229
Listen to https://github.com/IATI/IATI-Schemas/issues/228

[2014-09-23 11:23] stevieflow commented on #228
Watching: https://github.com/IATI/IATI-Codelists/issues/64

[2014-09-23 11:23] stevieflow commented on #230
Watching: https://github.com/IATI/IATI-Codelists/issues/65

[2014-09-23 11:24] stevieflow opened #246 "2.01 transacation type"
Review code-example in light of any chance via https://github.com/IATI/IATI-Codelists/issues/66

[2014-09-23 11:38] stevieflow opened #247 "code-examples - repair formatting"
Some bad uses of |
- [x] org standard
- [x] activitty standard

[2014-09-23 11:39] stevieflow commented on #215
ok - with it being in the 2.01 dev / Overview section that is fine for the purposes of this particular Issue

[2014-09-23 11:39] #215 closed, assigned to bill-anderson

[2014-09-23 11:40] stevieflow commented on #226
Closing this, as final items are detailed in individual issues

[2014-09-23 11:40] #226 closed, assigned to stevieflow

[2014-09-23 11:40] stevieflow commented on #227
Closing this, as final items are detailed in individual issues

[2014-09-23 11:40] #227 closed, assigned to stevieflow

[2014-09-23 11:49] stevieflow commented on #233
@bill-anderson please can you clarify the query about `budget-item` ?

[2014-09-23 11:50] #196 closed, assigned to bill-anderson

[2014-09-23 11:51] stevieflow commented on #205
@bill-anderson any thoughts on this ?

[2014-09-23 11:52] bill-anderson commented on #233
The budget-identifier - i.e. the functional classification, (Similar to sector)

[2014-09-23 11:53] stevieflow commented on #195
@bill-anderson is `narrative` needed here ?

If so, then perhaps this needs adding to http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers ?

[2014-09-23 11:53] stevieflow commented on #229
Listen to https://github.com/IATI/IATI-Extra-Documentation/issues/195

[2014-09-23 11:55] stevieflow commented on #194
@bill-anderson please can you clarify

[2014-09-23 11:57] stevieflow commented on #67
The latest proposal is here: http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers

[2014-09-23 12:01] stevieflow commented on #233
~~As in the `@ref` attribute of `budget-line` ?~~

~~> An internal reference for this budget line taken from the reporting organisation’s own system. Optional.~~

[2014-09-23 12:10] stevieflow commented on #233
Apologies - https://github.com/IATI/IATI-Extra-Documentation/issues/233#issuecomment-56509189 is my wrong

I understand that the "budget-identifier" is the `BudgetIdentifier`code for `budget-items`, meaning that this code-example is incorrect

[2014-09-23 15:15] #245 closed, assigned to stevieflow

[2014-09-23 15:16] #230 closed, assigned to stevieflow

[2014-09-23 15:17] #228 closed, assigned to stevieflow

[2014-09-23 15:24] #244 closed, assigned to stevieflow

[2014-09-23 15:27] stevieflow commented on #195
If `owner-name` is  "freetext" (as in not a value from a codelist), then should it be a new child element, along with a `narrative`?

[2014-09-23 15:30] stevieflow commented on #171
This is done throughout code-examples.

The Overview page will need to be updated

[2014-09-23 15:31] stevieflow commented on #236
Done.  Guidance via https://github.com/IATI/IATI-Extra-Documentation/issues/171 is remaining

[2014-09-23 15:31] #236 closed, assigned to stevieflow

[2014-09-23 15:32] stevieflow opened #248 "Update overview pages"
Consolidate into a single set, covering both standards

[2014-09-23 15:49] #234 closed, assigned to bill-anderson

[2014-09-24 11:46] Bjwebb opened #250 "Add a list of rules that can't be enforced with the current rulesets framework"
These are:

`reporting-org/@ref`

* The agency prefix MUST be a valid code in the IATI code list
* The identifier MUST be the same as that recorded by the publisher on the IATI Registry

`iati-identifier`

* ~~MUST be globally unique among all activities published by a single reporting organisation~~ It MUST be globally unique among all activities published through the IATI Registry
* Once an acti

[2014-09-24 11:49] bill-anderson commented on #250
Is that all??

[2014-09-24 11:59] Bjwebb commented on #250
Those are the only ones I have identified in https://github.com/IATI/IATI-Schemas/issues/66#issuecomment-54490516 and https://github.com/IATI/IATI-Schemas/issues/67#issuecomment-54490502
- [x] I do also need to add an appropriate [rule for elements at transaction level](https://github.com/IATI/IATI-Schemas/issues/70#issuecomment-50738319)  and for any new changes in [Part 9 of the Iteration 3 prop

[2014-09-24 14:18] #246 closed, assigned to stevieflow

[2014-09-24 14:29] #229 closed, assigned to stevieflow

[2014-09-24 16:59] stevieflow opened #253 "update transaction line highlighting"
Now that the order of elements has been switched

[2014-09-24 17:06] stevieflow opened #254 "transaction / country / region - code-example"
adjust code example to illustrate that a country OR a region is only expected

Listen to https://github.com/IATI/IATI-Schemas/issues/182

[2014-09-24 17:07] stevieflow commented on #204
done for iati-activity

This should not apply within transaction, but have created https://github.com/IATI/IATI-Extra-Documentation/issues/254 to listen adjust those code-examples.  Therefore, closing this

[2014-09-24 17:07] #204 closed, assigned to stevieflow

[2014-09-24 17:30] stevieflow commented on #232
OK - I've updated this now:
- In the Org standard, Ive updated the example XML to highlight that narrative for `recipient-country-budget/recipient-country/narrative` and `document-link/recipient-country/narrative` should be used for clarification, rather than a simple "name": https://github.com/IATI/IATI-Extra-Documentation/commit/2025924c6e1b02797a44dd3931ebab4cbf85ad4a
- In the activity standard

[2014-09-24 17:39] stevieflow commented on #231
Closing this, as second point is not relevant to code examples

Will also adjust transaction examples, in line with https://github.com/IATI/IATI-Extra-Documentation/issues/254

[2014-09-24 17:39] #231 closed, assigned to stevieflow

[2014-09-24 17:49] stevieflow commented on #233
Im now closing this, as the description text for country/region/@percentage is updated, and the clarification for `country-budget-items` is to be progressed in https://github.com/IATI/IATI-Schemas/issues/238

[2014-09-24 17:49] #233 closed, assigned to stevieflow

[2014-09-24 17:52] #254 closed, assigned to stevieflow

[2014-09-25 07:05] bill-anderson commented on #205
location-id:
A unique code describing the location according to a recognised gazetteer or administrative boundary repository. Administrative areas should only be reported here if the location being defined is the administrative area itself. For describing the administrative area/s within which a more specific location falls the location/administrative element should be used.

[2014-09-25 07:06] bill-anderson commented on #195
Discuss this morning

[2014-09-25 07:08] bill-anderson commented on #194
No. There are too many variables and use cases to try and police this. Leave this for orgs to use as they see fit.

[2014-09-25 07:10] stevieflow opened #255 "Changelog on document-link/language"
@caprenter please can you just double check the changelog statement for this element in 1.04:

http://iatistandard.org/activity-standard/iati-activities/iati-activity/document-link/language/

Would I therefore be right in adding a 2.01 changelog to say text() has been removed - but there is no `narrative` element for this?

[2014-09-25 07:13] bill-anderson commented on #115
"Please note: This part of the activity standard is only relevant to organisations that actively report to CRS++ and/or the OECD DAC Forward Spending Survey."

Add
"OECD Reporting Directives should be followed for guidance"

[2014-09-25 07:16] bill-anderson commented on #67
Discuss this morning. Issues are
- other-identifier
- XI-IATI codelist
- Guidance words

[2014-09-25 07:25] stevieflow opened #256 "Changelog statements - xsd:date / dateTime"
@caprenter in elements such as

http://dev.iatistandard.org/201/organisation-standard/iati-organisations/iati-organisation/recipient-country-budget/period-end/

Would it be advisable to include a changelog statement for 2.01 that mentions xsd:date - in terms of how guidance has been changed?

[2014-09-25 07:52] caprenter commented on #232
I think the reason we allow narrative on these elements is a little more specific.

It is not simply for clarification.

In fact, really we don't want people to use narrative at all - this is a code field. Supply the code, and then we all know what is being talked about. (this is how all other code fields are now treated)

This is specifically for the case when a publisher has a specific reason to

[2014-09-25 07:55] bill-anderson commented on #232
Agree.

Could even say "isolated cases"

[2014-09-25 08:01] stevieflow opened #257 "Changelog - links to old website and wiki"
@caprenter

Take a look at http://dev.iatistandard.org/201/activity-standard/iati-activities/

This isnt in any org pages, and probably not in all activity pages.  Best to remove it in 2.01?

[2014-09-25 08:02] caprenter commented on #255
Yes in 2.01, you now can only supply a code, and no descriptive text - the code is authoritative.
But in 2.01 you can now supply as many language elements as you like, which I believe you can not do in 1.04

[2014-09-25 08:46] stevieflow commented on #194
ok thanks - will close this and have created https://github.com/IATI/IATI-Schemas/issues/239 for schema description text change

[2014-09-25 08:46] #194 closed, assigned to stevieflow

[2014-09-25 08:54] stevieflow commented on #205
Thanks - will close this and have created: https://github.com/IATI/IATI-Schemas/issues/240

[2014-09-25 08:54] #205 closed, assigned to stevieflow

[2014-09-25 09:17] caprenter opened #258 "Modify guidance on participating-org/@role"
Modify guidance on participating-org/@role : Definition of funding organisation http://support.iatistandard.org/entries/41583626-Modify-guidance-on-participating-org-role-Definition-of-funding-organisation
@stevieflow - can you find out where this should go

[2014-09-25 09:21] stevieflow opened #259 "Tied Status overview - correction"
(from: https://github.com/IATI/IATI-Guidance/issues/139)

Correction given by Jenny Stennebo (Sweden) on http://support.iatistandard.org/entries/55170393-Tied-and-partially-tied-values?page=1#post_22314289

It is proposed that the following guidance is added to guidance here - http://iatistandard.org/activity-standard/overview/classifications/

* If an activity is either wholly "tied", "partially

[2014-09-25 12:20] stevieflow commented on #195
@bill-anderson to propose way forward in discussion forum

[2014-09-25 12:35] stevieflow opened #260 "other-identifier - code-example"
Once live in schema:
- [x] adjust Example XML
- [x] update/create code-example page(s)

[2014-09-25 13:11] caprenter commented on #257
I think the first change was in 1.02 - so yes remove that

[2014-09-25 13:19] stevieflow commented on #257
ok - will do so as I go along

[2014-09-25 13:19] #257 closed, assigned to stevieflow

[2014-09-25 13:42] stevieflow opened #261 "org standard code-examples - budget repeats and highlighting"
1 - highlighting will be out for recipient-country-budget, with the removal of the country narrative field

2 - to make documentation simpler, only provide a single period for each budget.  This is in line with how other repeatable elements are illustrated

[2014-09-25 13:43] stevieflow commented on #232
OK- thanks

Have added the standard text in all instances where we have a narrative for country/region (including in transaction and recipient-country-budget and org/document-link)

I've also removed the narrative line from the organisation standard example XML.  The knock on is this Issue: https://github.com/IATI/IATI-Extra-Documentation/issues/261

[2014-09-25 13:43] #232 closed, assigned to stevieflow

[2014-09-25 15:08] Bjwebb commented on #250
I have started adding these rules to http://dev.iatistandard.org/201/rulesets/standard-ruleset/#non-machine-readable-rules

[2014-09-25 16:38] #253 closed, assigned to stevieflow

[2014-09-25 16:38] #247 closed, assigned to stevieflow

[2014-09-25 16:39] #243 closed, assigned to stevieflow

[2014-09-25 17:02] #261 closed, assigned to stevieflow

[2014-09-29 10:06] #260 closed, assigned to stevieflow

[2014-09-29 10:07] stevieflow commented on #195
Resolved through forum and subsequent changes

Extra-Docs commit: https://github.com/IATI/IATI-Extra-Documentation/commit/5dfbf994774d4698fdd283cb95d307b3f14e2f88

[2014-09-29 10:07] #195 closed, assigned to bill-anderson

[2014-09-29 11:00] stevieflow opened #264 "Provide code-examples with no narrative"
It may be useful to include code-examples with no narrative elements, where that is not mandatory

[2014-09-29 12:40] bill-anderson commented on #67
Forum is revised

[2014-09-29 13:44] #264 closed, assigned to stevieflow

[2014-09-29 13:55] Bjwebb opened #265 "Re-add "Contents of the Ruleset" section"
This was removed because it was out of date: https://github.com/IATI/IATI-Extra-Documentation/commit/534477eab42a42828516ab6b830e208c7956cea1

[2014-09-29 14:55] Bjwebb opened #266 "Update codelist API page"
http://dev.iatistandard.org/201/codelists/codelist-api/

This should reflect the CLv3 changes https://github.com/IATI/IATI-Codelists/issues/49, and might make use of the text in https://iati.titanpad.com/154

[2014-09-29 15:05] bill-anderson commented on #266
Good

One minor point :"clv1" and "clv2" are used before they are explained

http://iatistandard.org/codelists/downloads/clv2/

[2014-09-29 15:40] caprenter commented on #67
Assigned to @stevieflow to see where this needs to be done.
We have some good information in the migration document.
The XI-IATI codelist is being worked on via email and https://github.com/IATI/IATI-Schemas/issues/231
other-identifier is in the schema

Where else does this need to be documented?

[2014-09-29 15:43] caprenter commented on #256
I don't think it's actually all that important. If you were doing it right before, you will still be doing it right.

If you are new to it, xsd:date tells you all you need to know. Re-open if you think differently.

[2014-09-29 15:50] stevieflow commented on #67
It will need to go into update overview pages - Ill label it so

[2014-09-29 15:54] stevieflow commented on #255
ok - thanks.  Updated changelog text with

[2014-09-29 15:54] #255 closed, assigned to stevieflow

[2014-09-29 16:08] stevieflow opened #267 "Include guidance on using XI-IATI"
(from https://github.com/IATI/IATI-Schemas/issues/237#issuecomment-57171660)

In the identifiers page on using XI-IATI

[2014-09-29 16:11] stevieflow commented on #198
bump

[2014-09-29 16:15] Bjwebb commented on #267
(Specifically using XI-IATI to refer to a publisher who is not publishing to 2.01 yet, and whose organisation identifier in 1.0x is not valid in 2.01)

[2014-09-29 16:17] Bjwebb commented on #198
Yes, this is due to the way the toctree glob works. I don't think this is preventing people actually using the site, so I am prioritising it behind other issues atm.

[2014-09-29 16:26] stevieflow commented on #256
Thanks

Shoudl / would the same apply for anyURI too?

[2014-09-29 16:40] Bjwebb commented on #250
I've updated the list at http://dev.iatistandard.org/201/rulesets/standard-ruleset/

Outstanding tasks:
- [ ] Check the list of rules is correct and complete
- [ ] Update the wording of the manual rules for helpfulness and consistency

[2014-09-29 16:40] Bjwebb commented on #250
@caprenter Could you take a look at reviewing the rules?

[2014-09-30 10:21] caprenter commented on #256
Yes I think so.

[2014-09-30 10:21] #256 closed, assigned to caprenter

[2014-09-30 10:25] caprenter commented on #250
I'm happy that this meets the requirements of our 2.01 Final milestone, but think there is still work to be done here, so putting it to a future milestone and keeping open

[2014-09-30 10:34] #240 closed, assigned to stevieflow

[2014-09-30 11:31] stevieflow opened #271 "Overview - filesize update"
(from https://github.com/IATI/IATI-Guidance/issues/137)

Include in relevant overview page(s):

Publishers are still encouraged to segment there data into meaningful chunks, BUT the guidance to segment by country is no longer necessarily considered to be best practice.
(NB the rule that the activity iati-identifier must be unique still applies. i.e. the same activity should not be reported in two

[2014-09-30 12:02] stevieflow opened #272 "Add note to say overview pages are being updated for 2.01 release"

[2014-09-30 12:05] #272 closed, assigned to stevieflow

[2014-09-30 13:03] stevieflow opened #274 "Links to changelog from element pages"
On the changelog statement on element pages format a link back to the relevant changelog entry.

See also: https://github.com/IATI/IATI-Extra-Documentation/pull/270

[2014-09-30 13:18] stevieflow opened #275 "Add IATIOrganisationIdentifier codelist"
changelog page

[2014-09-30 13:39] stevieflow opened #276 "Add non-embedded codelist changelog statements"
To relevant codelist pages: https://github.com/IATI/IATI-Codelists-NonEmbedded/milestones/Update%20-%207th%20October

[2014-09-30 14:21] caprenter opened #277 "Update non-embedded codelist changelog"
Need to leave changelog messages (at http://iatistandard.org/upgrades/nonembedded-codelist-changelog/) for:
- [x] [Registration Agencies - Update Descriptions](https://github.com/IATI/IATI-Codelists-NonEmbedded/issues/28)
- [x] [Region codelist out of date with DAC CRS source](https://github.com/IATI/IATI-Codelists-NonEmbedded/issues/27)
- [x] [Add collaboration type code 7](https://github.com/IAT

[2014-09-30 16:44] stevieflow commented on #277
@caprenter is this not a duplicate of https://github.com/IATI/IATI-Guidance/issues/158 - in that the changelogs are adminsitered in Guidance

Or - are you thinking of this as being updated somewhere else?

[2014-09-30 17:08] stevieflow opened #278 "Review org ID guidance for 2.01"
Review http://dev.iatistandard.org/201/organisation-identifiers/

Decide / suggest what needs changing , etc

[2014-09-30 17:11] stevieflow commented on #67
This may also be a linked task: https://github.com/IATI/IATI-Extra-Documentation/issues/278

[2014-10-06 11:34] stevieflow commented on #277
@caprenter I think you mean adding the changelog messages to the relevant individual codelist pages in Extra-Docs, which I can do

However - @Bjwebb - should I branch this off 1.04 or 2.01 ?

[2014-10-06 11:35] stevieflow commented on #276
Duplicate of #277

[2014-10-06 11:35] #276 closed, assigned to stevieflow

[2014-10-08 11:51] stevieflow opened #279 "Link to 1.05 example XML download"
This still points to 1.04:

http://iatistandard.org/activity-standard/example-xml/
http://iatistandard.org/organisation-standard/example-xml/

[2014-10-08 11:54] stevieflow commented on #279
@Bjwebb have done this - I guess you will need to regen the site?

[2014-10-08 11:54] #279 closed, assigned to stevieflow

[2014-10-08 17:16] stevieflow commented on #275
See: https://github.com/IATI/IATI-Codelists-NonEmbedded/pull/31

[2014-10-09 11:24] Bjwebb commented on #279
Thanks, have made this live.

[2014-10-14 15:42] caprenter commented on #250
@Bjwebb - I've had a go at reviewing the rules page. See what you think.

[2014-10-15 11:31] Bjwebb commented on #250
I think this misses the point slightly. The Non-Machine Readable rules could be tested by a computer, it's just we don't have them in a generic format that a generic ruleset parser can interpret. There should be no rules on that page which can not be tested (at least with bespoke code) by a computer. Your 'a title is meaningful' example is not on that page for this reason.

One for us to discuss t

[2014-10-20 11:26] caprenter commented on #250
@Bjwebb Would you have a go at re-writing it then pls?

[2014-10-21 08:46] stevieflow opened #280 "2.01 Download Example XML link is to 1.04"
In
- [ ] http://dev.iatistandard.org/201/activity-standard/example-xml/
- [ ] http://dev.iatistandard.org/201/organisation-standard/example-xml/

The markup comments are also missing - see example at http://iatistandard.org/activity-standard/example-xml/

[2014-10-21 10:03] stevieflow commented on #280
this should now be fixed

[2014-10-21 10:03] #280 closed, assigned to stevieflow

[2014-10-21 10:04] stevieflow commented on #275
Have added this - presume @Bjwebb has to also create the acual codelist/codelist page

[2014-10-21 10:04] #275 closed, assigned to stevieflow

[2014-10-22 11:48] stevieflow commented on #274
See https://github.com/IATI/IATI-Extra-Documentation/commit/241785d911b5cf83c25abd98a5ef0f91962ea0f9 for example markup

[2014-10-23 09:22] caprenter commented on #278
this work should take account of what has been said here:
http://dev.iatistandard.org/201/upgrades/integer-upgrade-to-2-01/migrating/#organisation-and-activity-identifiers

[2014-10-28 17:09] stevieflow opened #283 "Feedback on Country / Region description text"
This might get resolved via Extra-Docs, but putting it here to begin with:

[2014-10-28 20:25] #274 closed, assigned to stevieflow

[2014-10-29 10:39] caprenter opened #285 "Update non-embeded codelist update process"
Our process to update non-embedded codelists is not well documented internally, so updating the documentation here will help.

[2014-10-29 11:17] caprenter commented on #277
Sorry, I meant here: http://iatistandard.org/upgrades/nonembedded-codelist-changelog/

We also need to update the support forum to say these things are done. I am amending the original post to reflect this

[2014-10-29 11:20] caprenter commented on #277
@stevieflow - also, you could well be right that this issue is connected to the wrong repository - sorry

[2014-10-29 11:26] stevieflow commented on #277
ok - I've added these via https://github.com/IATI/IATI-Guidance/commit/fd8c7122c6e3c26dace093ae555f32d2203ead31 - I think this issue can be closed now

[2014-10-29 11:26] #277 closed, assigned to stevieflow

[2014-11-03 11:51] stevieflow commented on #16
The action on this Issue is not really defined.  Pushing to "future"

[2014-11-03 12:30] stevieflow commented on #210
@Bjwebb should we bundle the schema files into a zipped file?

[2014-11-03 12:55] stevieflow commented on #206
Closing this

[2014-11-03 12:55] #206 closed, assigned to Bjwebb

[2014-11-11 11:42] Bjwebb commented on #210
Zips are available through GitHub for tagged releases: https://github.com/IATI/IATI-Schemas/archive/v1.05.zip and for branches: https://github.com/IATI/IATI-Schemas/archive/version-2.01.zip

Do we need more than this?

[2014-11-20 13:14] Bjwebb opened #287 "IATI Example XML file has country/region percentages that sum to 100"
https://github.com/IATI/IATI-Extra-Documentation/blob/5dfbf994774d4698fdd283cb95d307b3f14e2f88/en/activity-standard/activity-standard-example-annotated.xml#L92

As http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/recipient-country/ says

[2014-11-25 14:42] Bjwebb opened #288 "IATI Example XML does not match final numeric codelists"
https://github.com/IATI/IATI-Extra-Documentation/blob/5dfbf994774d4698fdd283cb95d307b3f14e2f88/en/activity-standard/activity-standard-example-annotated.xml#L61

`type="1"` is Planned start according to http://dev.iatistandard.org/201/codelists/ActivityDateType/

Other codes/codelists may also want checking

[2014-11-26 11:29] stevieflow commented on #288
Thanks - have fixed

[2014-11-26 11:29] #288 closed, assigned to stevieflow

[2014-11-26 11:30] stevieflow commented on #287
Thanks

[2014-11-26 11:30] #287 closed, assigned to stevieflow

[2014-11-26 11:36] stevieflow commented on #287
Also edited the code examples -

[2014-11-27 16:33] stevieflow opened #290 "Remove activity-website from 2.01 example XML"
This is commented out, but is best removed

[2014-12-01 14:49] caprenter commented on #285
This has been updated in the version-2.01 and version-1.05 branches, and shows on the website

[2014-12-01 14:49] #285 closed, assigned to caprenter

[2014-12-12 08:34] stevieflow opened #291 "activity-date rules - wrong code values"
From @pell
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/activity-date/

http://dev.iatistandard.org/201/codelists/ActivityDateType/

The rules seem to reference the wrong codes, specifically:

[code]

Should be

[code]

Also "be before" might be best as "before or equal to" ?

[2014-12-12 08:56] pelleaardema commented on #291
In addition:
`activity-date[@type='1' or @type='3'] must be present`.
Doesn't make sense. Why would you require a planned start or end date?
Probably should be: `activity-date[@type='1' or @type='2'] must be present`. (requiring a start date)

`activity-date[@type='3'] must be today, or in the past`.
and
`activity-date[@type='4'] must be today, or in the past`.
Now require the end dates to be in t

[2014-12-12 09:25] stevieflow commented on #291
Hi @pelleaardema

Yes, thanks for the additional coments

Requiring a start date (either planned or actual) - codes 1 & 2 - yes, this is in line with the 2.01 requirements ("a start date")

"must be today, or in the past" - also correct, this should apply to `start` type dates (codes 1 & 2)

Apologies for our miscoding here

[2014-12-12 09:51] pelleaardema commented on #291
Hi @stevieflow

Re: "must be today, or in the past" - I don't think you can enforce this. Given the fact that organisations are able to post activities that have a status "Pipeline/identification" they're able to publish activities _that haven't started yet_, so with a start date that lies somewhere in the future.

[2014-12-12 10:09] stevieflow commented on #291
"must be today, or in the past"  should be true for start-actual though (but maybe not start-planned) ?

[2014-12-12 13:53] pelleaardema commented on #291
So you'd consider a project that is in the pipeline/identification phase (activity-status="1") to be started already?

[2014-12-12 15:44] stevieflow commented on #291
In terms of activity-status=pipeline as an exception to the condition of a mandatory `<activity-date>`, there is this discussion between @markbrough & @bill-anderson :

http://support.iatistandard.org/entries/41089758-Modify-activity-date-validation-and-guidance

Can either of you assist @pelleaardema ?

[2014-12-12 16:21] pelleaardema commented on #291
@stevieflow
This doesn't really cover the concern. I can imagine you'd want to make a start-planned date mandatory.
But the rules currently say it _should be in the PAST_  (and that can't be made mandatory IMO)

[2014-12-12 17:02] stevieflow commented on #291
@pelleaardema yes - as mentioned above at https://github.com/IATI/IATI-Extra-Documentation/issues/291#issuecomment-66754090 - _in the past_ might not be a good rule for start-planned

[2014-12-16 07:57] Bjwebb commented on #291
Agree that this is a bug, and with the changes you've suggested are what was intended.

The final rule should be that both Actual Start dates, and Actual End dates should be in the past, because if they're not in the past, you don't know they've actually happened yet. So, the rules should be:

[code]

[2015-01-06 13:51] Bjwebb commented on #198
I don't think this is urgent to fix, and I don't think I'll get to it before March, so I'm unassigning myself.

[2015-01-06 14:32] caprenter commented on #291
For clarity (discuss!)...

The reason for this is that in the final stages of agreeing this list we changed the codes to group start and end values together.

For reference:
1 = Planned start
2 = Actual start
3 = Planned End
4 = Actual end

Currently 5 of our 6 rules are wrong:

[code]

We will change this to be:

[code]

[2015-01-06 15:14] Bjwebb commented on #291
This has been updated now: http://iatistandard.org/201/activity-standard/iati-activities/iati-activity/activity-date/

[2015-01-06 15:14] #291 closed

[2015-01-07 11:18] caprenter commented on #210
I think @Bjwebb 's point is sufficient

[2015-01-07 11:18] #210 closed

[2015-01-15 14:49] caprenter commented on #265
Not sure if this is a job for you @Bjwebb so please re-assign if not

[2015-01-15 14:58] caprenter commented on #198
I agree, so pushing this top a future milestone

[2015-01-21 14:51] stevieflow commented on #145
duplicate of https://github.com/IATI/IATI-Extra-Documentation/issues/271

[2015-01-21 14:51] #145 closed

[2015-01-23 12:42] htobon commented on #109
+1

[2015-02-03 15:12] #271 closed

[2015-02-03 15:26] #259 closed

[2015-02-03 15:34] stevieflow commented on #171
This is in the dates overview page

[2015-02-03 15:34] #171 closed

[2015-02-03 15:35] #115 closed

[2015-02-03 16:03] stevieflow commented on #266
@caprenter what is needed todo on this?

[2015-02-03 16:07] stevieflow commented on #278
Moved into https://github.com/IATI/IATI-Guidance/issues/189

[2015-02-03 16:07] #278 closed, assigned to bill-anderson

[2015-02-03 16:09] stevieflow commented on #267
moved to https://github.com/IATI/IATI-Guidance/issues/190

[2015-02-03 16:09] #267 closed, assigned to stevieflow

[2015-02-03 16:12] stevieflow commented on #67
moved to https://github.com/IATI/IATI-Guidance/issues/191

[2015-02-03 16:12] #67 closed, assigned to stevieflow

[2015-02-03 16:13] stevieflow commented on #258
moved to https://github.com/IATI/IATI-Guidance/issues/192

[2015-02-03 16:13] #258 closed, assigned to stevieflow

[2015-02-05 16:29] Bjwebb commented on #191
We now use CLv1/CLv2/CLv3 (now Current/New), and these link to the codelist API page. David's got a commit in dev that explains what these are. With this, I think this issue can be closed.

[2015-02-05 16:29] #191 closed

[2015-02-24 17:48] iatisupport opened #295 "Document Link States Title OR Category Is Mandatory At V2.01"
http://iatistandard.org/201/activity-standard/overview/linked-documents/ currently states that EITHER title OR category are required for a document link. However,
http://iatistandard.org/201/activity-standard/iati-activities/iati-activity/document-link/title/ and http://iatistandard.org/201/activity-standard/iati-activities/iati-activity/document-link/category/ suggest that both are required

[2015-02-25 09:37] caprenter commented on #295
Thanks @iatisupport you are right.
In version 2.01:
The schema says you must have a title (and only one), and you must have at least one category.
See: https://github.com/IATI/IATI-Schemas/blob/version-2.01/iati-activities-schema.xsd#L2350

However this is not the same for version 1.x, so the documentation needs to make sure it is version specific.

We need to edit this document: https://github.co

[2015-02-25 10:31] stevieflow commented on #295
OK thanks @iatisupport @caprenter

I'm just checking the following two lines:

I can split this into two lines:

 I think the latter also applies to 1.0x?

[2015-02-25 10:34] stevieflow opened #296 "Describing documents in different languages"
@iatisupport @caprenter

Observed via looking at #295 :

Does this still stand for 2.01?  My understanding is that it does.  This means that the _target_ document can be in multiple languages.  As `document-link` can only contain one URI, so should the documentation be:

and

[2015-02-25 12:12] caprenter commented on #295
On re-reading, I think the key word here is 'expected'. I'm not sure why the word 'required' is not being used. I think they mean slightly different things, and the OP read expected as requires IMHO.

So

is accurate for 2.01

To be broader perhaps:

The multiple categories line is also helpful.

[2015-02-26 14:16] caprenter commented on #296
Yes, I believe this is still the same in 2.01, and think your suggested documentation is good.

The existing documentation is not wrong, but your clarification helps.

[2015-02-26 16:17] #250 closed

[2015-02-27 09:38] #295 closed

[2015-03-02 14:07] stevieflow commented on #296
@caprenter should I update the documentation for 1.0x and 2.01 to include this extra clarification?

[2015-03-09 11:35] caprenter commented on #296
I'm not too bothered. Changes to below 1.05 are unlikely to applied in the near future. I think the current documentation is sufficient, but that your suggestion helps. Apply it if you have time

[2015-03-24 16:24] stevieflow commented on #296
ok - have just applied to 2.01

[2015-03-26 11:41] #290 closed

[2015-03-31 10:51] wendyrogers opened #301 "Clarify Usage For Capital Spend Element"
The definition for Capital Spend states that it is 'The percentage of the total commitment that is for capital spending'. However, the example usage 'uses the @percentage attribute to state 88.8% of the iati-activity budget is for capital expenditure.'

As a result the example usage should be amended to read '88.8% of the iati-activity total commitment is for capital expenditure.' so that it is in

[2015-10-15 11:15] dalepotter opened #303 "Add documentation for new element: document-link/document-date"
This issue is generated from the accepted version 2.02 proposal 'Document Dates': http://support.iatistandard.org/entries/92707776-Document-Dates

[2015-10-15 12:00] dalepotter opened #304 "Guidance amendment: planned-disbursement"
This issue is generated from the accepted version 2.02 proposal 'Add provider-org and receiver-org to planned-disbursement element': http://support.iatistandard.org/entries/29665337-Add-provider-org-and-receiver-org-to-planned-disbursement-element

[2015-10-15 12:01] dalepotter opened #305 "Guidance addition: planned-disbursement/period-start & planned-disbursement/period-end"
This issue is generated from the accepted version 2.02 proposal 'Add provider-org and receiver-org to planned-disbursement element': http://support.iatistandard.org/entries/29665337-Add-provider-org-and-receiver-org-to-planned-disbursement-element

[2015-10-15 16:17] #303 closed

[2015-10-16 10:41] dalepotter commented on #303
This issue arises from https://github.com/IATI/IATI-Schemas/issues/265

[2015-10-28 12:46] stevieflow opened #306 "Guidance - register datasets on the Registry"
(I think this is the most appropriate repo for this...)

I noticed that this page: http://iatiregistry.org/help doesn't include any guidance on how to register new datasets, once you have an account & publisher org.

It might be worth describing this process on this page, and also synching up with: http://iatistandard.org/201/guidance/how-to-publish/publish-files/#add-details-of-your-datafiles ?

[2015-11-24 13:24] dalepotter opened #307 "policy-marker : inconsistent example"
Guidance for the [PolicySignificance codelist](http://iatistandard.org/201/codelists/PolicySignificance/) states that:

[code]

However, the [documentation (pre-v2.02)](http://iatistandard.org/201/activity-standard/iati-activities/iati-activity/policy-marker/) uses an example:

[code]

This example should be fixed and checks undertaken for similar versions in other versions of the standard.

[2015-11-29 21:02] stevieflow opened #308 "Budget Identfier Sector (category) - spelling mistake"
http://iatistandard.org/201/codelists/BudgetIdentifierSector-category/

The title for this codelist omits the second in Identifier:

Should be

This misspelling is also listed on http://iatistandard.org/201/codelists/

[2015-11-29 21:03] stevieflow opened #309 "Guidance listed on Codelist list"
http://iatistandard.org/201/codelists/

In the list of codelists, there is an entry for:

This isnt an actual codelist, so should be removed

[2015-12-02 16:28] rory09 opened #310 "Add overview pages for humanitarian and self defined vocabularies"
Fill out the skeleton pages added here: 16b5954441c80179d730d822581f25ab8ec1a86f

[2015-12-09 16:02] #310 closed

[2015-12-09 16:05] dalepotter commented on #309
Thanks Steven. It seems that the 'Guidance' link is directing to a subheading here in the [Policy significance codelist](http://iatistandard.org/201/codelists/PolicySignificance/#guidance). We'll look into how this page is generated shortly.

Thanks again.

[2015-12-09 16:10] dalepotter commented on #308
Great spot - thanks for highlighting this one, which seems to arise from the [codelist itself](https://github.com/IATI/IATI-Codelists/blob/version-2.01/xml/BudgetIdentifierSector-category.xml#L4).

As this is an Embedded list, I'll clarify the process on fixing typos outside of a formal upgrade process.

[2015-12-09 16:15] #305 closed

[2015-12-09 16:18] #304 closed

[2016-02-02 18:13] stevieflow opened #312 "End dates - inconsistency"
Dates overview:

Dates - schema / reference page:

[2016-03-04 12:17] rory09 opened #314 "Cleanup formatting and typos"

[2016-03-04 15:08] rorads commented on #314
See 44f406095730a46b75ad90191a693fb6deb0983d for 2.01 and c135d7d721bd1c8f5a47ccfcf45387b63725f158, and 2420a8145cbaf7fe506afe5bc00900e4825cb2ad for 2.02.
Older versions will be left for now.

[2016-03-04 15:08] #314 closed

[2016-03-18 15:40] #312 closed

[2016-06-23 22:37] stevieflow opened #315 "iati-actvity code example missing description of humanitarian attribute"
The code example for `iati-activity`: http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/  does not include any descriptive text for the inclusion of the @humanitarian attribute, as per other attributes- eg:

[2016-07-14 09:49] wendyrogers opened #316 "Clarify That Region, Country and Sector Have No % Attribute At Transaction Level"
It would be useful to clarify in the guidance that recipient-country, recipient- region and sector when used as child elements of transaction do not require or need a percentage attribute.

[2016-07-27 12:27] stevieflow opened #318 "Location sub-elements - code examples not succinct"
Taking a look at the code example for a page such as
http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/location/location-reach/

The code example doesn't seem to "stop"

This seems to be because https://raw.githubusercontent.com/IATI/IATI-Extra-Documentation/version-2.02/en/activity-standard/iati-activities/iati-activity/location/location-reach.rst has:

`end-before: `

I

[2016-09-12 10:02] wendyrogers opened #319 "Remove Reference To Policy Vocabulary & Add Link To Guidance For Humanitarian Reporting"
Zendesk ticket 3985 relates.

The Humanitaraian Reporting overview at http://iatistandard.org/202/activity-standard/overview/humanitarian-reporting/ currently contains a reference to "PolicyMarkerVocabulary - code "2" defines the list of UNOCHA humanitarian policies to which a specific activity relates."

However, for various reasons this policy vocabulary does not yet exist so the reference to it

[2016-10-13 09:45] wendyrogers opened #321 "Amend Humanitarian Scope Documentation To Use Glide IDs (not Numbers)"
Currently the standard documentation for humanitarian scope uses examples that contain GLIDE numbers rather than GLIDE Ids

[2016-12-14 08:04] stevieflow opened #325 "TransactionType codelist missing changelog update (2.02)"
This list:

https://github.com/IATI/IATI-Extra-Documentation/blob/87589337ce66298f2d612d5f7722d0bd365b7efe/en/codelists/TransactionType.rst

is missing the reference to the fact that Incoming Commitment was added in 2.02

Referenced here: http://iatistandard.org/202/upgrades/decimal-upgrade-to-2-02/2-02-changes/

[2016-12-16 16:13] dalepotter commented on #325
Thanks for flagging this @stevieflow - this change has now been resolved: http://iatistandard.org/202/upgrades/decimal-upgrade-to-2-02/2-02-changes/

[2016-12-16 16:13] #325 closed

[2017-02-23 15:29] hayfield opened #330 "Unclear use of International Dialling Codes"
https://github.com/IATI/IATI-Extra-Documentation/blob/2a279c7ac0fdd8eda7ac594af2c6ebee2cd59bb5/en/activity-standard/overview/contact-info.rst#user-content-considerations

This states that `For telephone pay attention to international dialling codes`. This is unclear whether international dialling codes should be included or not.

The [telephone](http://iatistandard.org/202/activity-standard/iati-a

[2017-02-27 12:59] bill-anderson commented on #330
'Pay attention' is a bit dodgy

Guidance should be "telephone numbers should include the international dialing code". We don't need to police this

[2017-05-09 13:14] hayfield opened #331 "Clarification of actual and planned date relationships"
At the moment, [`activity-date` rules](http://iatistandard.org/202/activity-standard/iati-activities/iati-activity/activity-date/#rules) include restrictions between `start-actual` and `end-actual` / `start-planned` and `end-planned`. There are not, however, any restrictions (Rules or [Guidelines](http://iatistandard.org/202/activity-standard/overview/dates/#considerations)) between actual and pla

[2017-05-09 14:50] hayfield opened #333 "Mis-spelled receiver-org"
The [Org IDs](http://iatistandard.org/202/organisation-identifiers/) page references `reciver-org`. This should be `receiver-org`.

https://github.com/IATI/IATI-Extra-Documentation/blob/version-2.02/en/organisation-identifiers.rst

[2017-05-09 15:22] hayfield opened #334 "Unclear whether Considerations contain any Rules"
The [Considerations](http://iatistandard.org/202/activity-standard/overview/activity-file/#considerations) section on various Overview pages contains a list of bullet points that _should_ be considered. The list then states a number of actions that _must_ occur. By the following of logic, this means that where it is stated that something _must_ occur (it is mandatory), in actual fact it merely _sh

[2017-05-09 16:13] hayfield commented on #334
There are a range of Considerations noted as _must_. Some of these are agreed _must_ statements, while others are very much _should_. Further, some things noted as _should_ are stated as a _must_ in the [Standard Ruleset](http://iatistandard.org/202/rulesets/standard-ruleset/).

As such, they should be assumed to be _should_, and reviewed on an individual (or related-items) basis.

[2017-05-10 09:54] hayfield commented on #334
Also noting that any _should_ statements are statements known as Guidelines.

[2017-05-10 10:00] hayfield opened #335 "Guidelines - Well Formed and Valid"
As part of the investigation under #334 - identifying _must_ statements among Guidelines.

http://iatistandard.org/202/activity-standard/overview/activity-file/
`It must be well-formed XML.`
`It must validate against the relevant version of the IATI activity schema`

These relate to [potential changes to the Introduction](https://discuss.iatistandard.org/t/notes-from-standards-day/762/5).

[2017-05-10 10:02] hayfield opened #336 "Guidelines - Making Root Element Mandatory"
As part of the investigation under #334 - identifying must statements among Guidelines.

http://iatistandard.org/202/activity-standard/overview/activity-file/
`Any activity file must have iati-activities as the root element - to contain all other elements.`

The Schema does not require this (though it could). It should be a _should_.

[2017-05-10 10:12] hayfield opened #337 "Guidelines - Inconsistent Intended Reader"
The Guidelines (Consideration lists) within the [activity](http://iatistandard.org/202/activity-standard/overview/) and [org](http://iatistandard.org/202/organisation-standard/overview/) have an inconsistent intended reader.

For example, on http://iatistandard.org/202/activity-standard/overview/activity-file/
`When creating the activity file it is recommended to avoid spaces and non-ascii charact

[2017-05-10 10:26] hayfield opened #338 "Guidelines - Large Variety of Levels of Recommendation"
The Guidelines (Consideration lists) within the [activity](http://iatistandard.org/202/activity-standard/overview/) and [org](http://iatistandard.org/202/organisation-standard/overview/) have a very large range of ways in which to define how recommended something is, but with no consistency.

For example, on http://iatistandard.org/202/activity-standard/overview/iati-activity/
`must`
`must [...] b

[2017-05-10 10:36] hayfield opened #339 "Guidelines - Format of IATI Identifier"
http://iatistandard.org/202/activity-standard/overview/iati-identifier/

This page states that `It is recommended to avoid spaces and non-ascii characters.`

* It does not state where spaces and non-ascii characters are to be avoided
* The previous Consideration states that `It is recommended that no forward slashes (/) or spaces should be contained within the iati-identifier` - this is repeated i

[2017-05-10 11:02] hayfield opened #340 "Guidelines - Simultaneous use of both original and final values"
As highlighted in https://discuss.iatistandard.org/t/clarifying-the-relationship-between-original-budget-and-revised-budget-in-iati-activities/819

At present, it is not clear that it is permitted to have both original and final versions of values that comes in these formats.
Similarly, it is not clear that there may be multiple defined values of each type (should it have been revised multiple tim

[2017-05-10 11:08] hayfield commented on #340
http://iatistandard.org/202/activity-standard/overview/dates/ `Any start date should be before the end date, or the same` implies that end dates are singular, though this is not mentioned anywhere.

[2017-05-10 11:17] hayfield opened #341 "Guidelines - Unclear how and where to define Org Names"
http://iatistandard.org/202/activity-standard/overview/organisations/
`Any freetext name for an organisation, must be included in the child narrative element, which can be repeated for different languages.`

Reference to `the child narrative element` indicates that the child element is singular when there can actually be multiple.
Also, `Any freetext name for an organisation` includes any possible

[2017-05-10 13:42] hayfield opened #342 "Guidelines - Repeated Indicators Clarity"
http://iatistandard.org/105/activity-standard/overview/result/
`An indicator can be repeated within any result dataset.`

This states that the same information can be provided multiple times in the same result, probably not the intended meaning.

The manner in which information within an indicator may be repeated should be clarified (am assuming the intention is that you may define progress agains

[2017-05-10 13:52] hayfield opened #343 "Guidelines - Document Category Prefix"
http://iatistandard.org/105/activity-standard/overview/linked-documents/
`For document category in the IATI activity standard, it is expected that the DocumentCategory code would be have the A prefix.`

The [relevant Codelist](http://iatistandard.org/202/codelists/DocumentCategory/) is only used in this manner. It contains codes without an `A` prefix. Is the Guideline saying that it is expected th

[2017-05-10 13:54] hayfield opened #344 "Guidelines - Unclear link example"
http://iatistandard.org/105/activity-standard/overview/linked-documents/
`The activity-website should be a URL to a page or website that is specifically about the iati-activity - not generic information (eg: http://www.example.com/en/activity/ABC123).`

The phrasing means that it is unclear whether the example is specific or generic.

[2017-05-10 14:04] hayfield opened #345 "Guidelines - Use of CAPITALS and jargon"
There are a number of Guidelines stating that in particular situations, CAPITALS or jargon should not be used.

http://iatistandard.org/105/activity-standard/overview/contact-info/
`The free-text instances of organisation, person-name, job-title and mailing-address should avoid use of text in CAPITALS, where possible.`
http://iatistandard.org/105/activity-standard/overview/conditions/
`The free-te

[2017-05-10 14:09] hayfield opened #346 "Guidelines - Duplication of Ruleset Contents"
As part of the investigation under #334 - identifying must statements among Guidelines.

There are several Guidelines that are contained within the [Standard Ruleset](http://iatistandard.org/202/rulesets/standard-ruleset/).

http://iatistandard.org/202/activity-standard/overview/iati-activity/
`Every iati-activity must have a globally unique iati-identifier`

http://iatistandard.org/202/activity-s

[2017-05-10 14:10] hayfield opened #347 "Guidelines - Actual Rules"
As part of the investigation under #334 - identifying must statements among Guidelines.

There are several Guidelines that should with high probability be Rules.

---

The following can be machine-checked, so would fit within the [Standard Ruleset](http://iatistandard.org/202/rulesets/standard-ruleset/) as it is currently defined.

http://iatistandard.org/202/activity-standard/overview/iati-activi

[2017-05-10 14:10] hayfield opened #348 "Guidelines - Contradictions with Rulesets"
As part of the investigation under #334 - identifying must statements among Guidelines.

There are several Guidelines that contradict Rules within the [Standard Ruleset](http://iatistandard.org/202/rulesets/standard-ruleset/).

http://iatistandard.org/202/activity-standard/overview/iati-identifier/
`The iati-identifier must begin with an reporting-org identifier that has a value published on the O

[2017-05-10 14:10] hayfield opened #349 "Guidelines - Checked by Schema"
As part of the investigation under #334 - identifying must statements among Guidelines.

There are several Guidelines that make statements about things that are checked by the Schema.

http://iatistandard.org/202/activity-standard/overview/activity-file/
`The version of the IATI standard being used must be declared via the version attribute of the iati-activities element.`

http://iatistandard.org

[2017-05-10 14:11] hayfield opened #350 "Guidelines - Contradictions with Schema"
As part of the investigation under #334 - identifying must statements among Guidelines.

There are several Guidelines that make statements that contradict the Schema.

http://iatistandard.org/202/activity-standard/overview/dates/
`Dates should be a valid xsd:date, and a datetimes should be a valid xsd:dateTime.` (it is defined in the Schema that [they](https://github.com/IATI/IATI-Schemas/blob/ver

[2017-05-10 14:11] hayfield opened #351 "Guidelines - Contradictions with Themselves"
http://iatistandard.org/202/activity-standard/overview/geography/
This states `When declaring multiple recipient-country or recipient-region then a @pecentage must be declared. These must sum to 100%.` and then later in the page says `It is feasible to have both a recipient-country and recipient-region in the same iati-activity. In such cases, the @percentage must be declared, and sum to 100 acros

[2017-05-10 14:12] hayfield opened #352 "Guidelines - V1 Reference in V2 docs"
http://iatistandard.org/202/activity-standard/overview/classifications/
`A reporting-org can declare their own @vocabulary, via using the RO (Reporting Org) Vocabulary code.` - this is code `99` in V2. There is nothing under the 2.01 considerations to say this.

[2017-08-27 16:40] andylolz commented on #331
I’m pretty sure there’s no relationship between planned dates and actual dates. Typically, `start-actual` will occur before `end-planned`, but it might not, and there certainly shouldn’t be a requirement for it to.

I guess it could be stated explicitly that there’s no relationship between planned and actual dates… Perhaps it’s useful, but I’m not really sure it’s necessary. In the absence of it b

[2017-10-18 15:18] stevieflow opened #355 "Example 2.0x activity XML could be invalid for country/region mix"
The [example XML](http://iatistandard.org/202/activity-standard/example-xml/) includes a mix of both ``recipient-country`` and ``recipient-region`` elements

[code]
However, the written text rule in the schema (for both region and country) says:

Hence, whilst this example tries to show regions from two different vocabularies, it is not in line with this rule, and would fail a test

Suggestion: re

[2017-10-18 15:30] andylolz commented on #355
Yep, sounds good to me.